/* Global Mixins   - - - - - - - - - */
/* Navigation Hover Transitions */
@mixin color-transition {
	-webkit-transition: color $standard $fast;
	-moz-transition: color $standard $fast;
	-o-transition: color $standard $fast;
	transition: color $standard $fast;	

}

/* SVG Background Color Transitions */
@mixin background-color-transition {
	-webkit-transition: background $standard $fast;
	-moz-transition: background $standard $fast;
	-o-transition: background $standard $fast;
	transition: background $standard $fast;

}

/* SVG Clipping Mask */
@mixin svg-clipping-mask($path) {
    -webkit-clip-path: url($path);
    clip-path: url($path);
    -webkit-mask: url($path);
    mask: url($path);

}

/* Background-color Hover Transitions */
@mixin background-transition {
	-webkit-transition: background-color $standard $fast;
	-moz-transition: background-color $standard $fast;
	-o-transition: background-color $standard $fast;
	transition: background-color $standard $fast;	

}

@mixin border-transition {
	-webkit-transition: border $standard $fast;
	-moz-transition: border $standard $fast;
	-o-transition: border $standard $fast;
	transition: border $standard $fast;	

}

/* Margin Removal */
@mixin remove-margin {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

/* Main Navigation */
@mixin nav-link {
	a {
		font-family: $lato;
		font-weight: $light;
		font-size: $size-14;
		letter-spacing: 0.5px;
		line-height: $size-14;
		color: $nav-gray;
		text-decoration: none;
		@include color-transition;
		&:hover {
			color: $blue;
		}

	}
}

/* Hero Section */
@mixin hero {
	h1 {
		// Typography
		font-family: $lato;
		font-weight: $light;
		font-size: $size-32;
		letter-spacing: $size-32 * $character;
		line-height: $size-32;
		color: $white;
		// Structure
		margin-bottom: 10px;

	}

	p {
		// Typography
		font-family: $lato;
		font-weight: $light;
		font-size: $size-14;
		letter-spacing: $size-14 * $character;
		line-height: $default-line;
		color: $white;
		// Structure
		padding: 0px 150px;

	}

}

/* Contact Section */

/* Animation Keyframes */
@-webkit-keyframes open-status {
	0%, 100% { opacity: 1; }
	50% { opacity: 0.25; }
}
@-moz-keyframes open-status {
	0%, 100% { opacity: 1; }
	50% { opacity: 0.25; }
}
@-o-keyframes open-status {
	0%, 100% { opacity: 1; }
	50% { opacity: 0.25; }
}
@keyframes open-status {
	0%, 100% { opacity: 1; }
	50% { opacity: 0.25; }
}

@mixin status-animation {
	//Animation
	-webkit-animation: open-status 2s infinite;
	-moz-animation: open-status 2s infinite;
	-o-animation: open-status 2s infinite;
	animation: open-status 2s infinite;
}

/* Type */
@mixin contact-section {
	h2 {
		//Type
		font-family: $lato;
		font-weight: $hairline;
		font-size: $size-18;
		letter-spacing: $size-18 * $character;
		line-height: $size-18;
		color: $title-gray;
		//Structure
		padding: 15px 0 7.5px 0;

	} 

	p {
		//Type
		font-family: $lato;
		font-weight: $hairline;
		font-size: $size-14; 
		letter-spacing: $size-14 * $character;
		line-height: $default-line;
		color: $text-gray;
		//Structure
		padding-bottom: 10px;

	}

	p.status {
		//Type
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-14;
		letter-spacing: $size-14 * $character;
		line-height: $size-14;
		color: $green;

	}

	a {
		//Type
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-14;
		letter-spacing: $size-14 * $character;
		line-height: $size-14;
		text-decoration: none;

		&.call {
			//Type
			color: $green;
			//Transitions
			@include color-transition;

			&:hover {
				color: $dark-green;

			}

		}

		&.arrow {
			//Type
			color: $blue;
			//Transitions
			@include color-transition;

			&:hover {
				//Type
				color: $dark-blue;

			}

			&:after {
				//Structure
				position:relative;
				display:inline-block;
		        width: 8px;
		        height: 8px;
				top: 0;
				margin-left: 2px;
		        content: '';
		        background: $blue;
		        //Transition
		        @include background-color-transition;
		        //SVG Mask
		        @include svg-clipping-mask('../imagenes/test.svg');

    		}

    		&:hover:after {
    			//Structure
    			background: $dark-blue;

    		}

		}

	}

	.store-status {
		//Structure
		position: relative;

	}

	.status-indicator {
		//Structure
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 2.5px;
		width: 5px;
		height: 5px;
		border-radius: 2.5px;
		background-color: $green;
		//Animation
		@include status-animation;
		
	}

}

/* Footer */
@mixin footer {
	p {
		font-family: $lato;
		font-weight: $light;
		font-size: $size-12;
		letter-spacing: $size-12 * $character;
		line-height: $size-12;
		color: $author-gray;

	}

	a {
		font-family: $lato;
		font-weight: $light;
		font-size: $size-12; 
		letter-spacing: $size-12 * $character; 
		line-height: $size-12;
		text-decoration: none;
		color: $text-gray;
		@include color-transition;

		&:hover {
			color: $blue;

		}

	} 

	a.author {
		color: $author-gray;
		@include color-transition;

		&:hover {
			color: $blue;

		}

	}

}

/* Index Mixins   - - - - - - - - - */
/* Hero Background Gradient */
@mixin standard-gradient {
	background: $gradient-gray; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left bottom, $gradient-gray, $white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top right, $gradient-gray, $white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top right, $gradient-gray, $white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to top right, $gradient-gray, $white); /* Standard syntax */
}

/* Slider Type */
@mixin slider-type {
	h1 {
		//Type
		font-family: $lato;
		font-weight: $light;
		font-size: $size-32;
		letter-spacing: $size-32 * $character;
		line-height: $size-32;
		color: $title-gray;
		//Structure
		margin-bottom: 10px;

	}

	p {
		//Type
		font-family: $lato;
		font-weight: $light;
		font-size: $size-18;
		letter-spacing: $size-18 * $character;
		line-height: $default-line;
		color: $text-gray;
		//Structure
		margin-bottom: 10px;

	}

	a {
		//Typography
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-18;
		letter-spacing: $size-18 * $character;
		line-height: $size-18;
		color: $blue;
		text-decoration: none;

		&.arrow {
			//Type
			color: $blue;
			//Transitions
			@include color-transition;

			&:hover {
				//Type
				color: $dark-blue;

			}

			&:after {
				//Structure
				position:relative;
				display:inline-block;
		        width: 10px;
		        height: 10px;
				top: 0;
				margin-left: 2px;
		        content: '';
		        background: $blue;
		        //Transition
		        @include background-color-transition;
		        //SVG Mask
		        @include svg-clipping-mask('../imagenes/test.svg');

    		}

    		&:hover:after {
    			//Structure
    			background: $dark-blue;

    		}

		}

	}

}

/* Product Mixins - - - - - - - - - */
/* Product Navigation */
@mixin product-nav {
	h1 {
		//Type
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-18;
		letter-spacing: $size-18 * $character;
		line-height: $size-18;
		color: $title-gray;
		//Structure
		margin-bottom: 25px;

	}

/*	ul {
		padding: 0;
	}

	li {
		list-style: none;
		padding: 15px 0 15px 15px;
		border-left: 2px solid $feature-gray;

	}*/

	a {
		//Type
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-14;
		letter-spacing: 0.75px;
		line-height: $size-14;
		color: $nav-gray;
		text-decoration: none;
		@include color-transition;
		@include border-transition;
		//Structure
		display: block;
		padding: 15px 0 15px 15px;
		border-left: 2px solid $feature-gray;
		//Interactions
		&:hover {
			border-left: 2px solid $blue;
			color: $blue;
		}

	}

}

/* Feature List */
@mixin feature-structure {
	ul {
		//Structure
		padding: 0;
		margin: 0 10px;
		overflow: hidden;
		border-bottom: 1px solid $feature-gray;
		margin-bottom: 50px;
	}

	li {
		//Structure
		float: left;
		list-style: none;
		margin-bottom: 15px;
		margin-right: 32px;

		&:last-of-type {
			//Structure
			float: right;
			margin-right: 0;

		}
	}

}

@mixin feature-typographies {

	li {
		//Typography
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-14;
		letter-spacing: $size-14 * $character;
		line-height: $size-14;
		color: $text-gray;

	}

}

/* Product Category Title */
@mixin category-typography {
		// Typography
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-12;
		letter-spacing: 1.5px;
		line-height: $size-12;
		text-transform: uppercase;
		color: $text-gray;
		// Structure
		margin-bottom: 20px;

}

/* Product Cards */
@mixin card-structure {
	// height: $card-height;
	padding: $card-padding;
	border-radius: $card-radius;
	background-color: $white;
	box-shadow: $card-shadow;

}

@mixin card-typographies {
	h1 {
		// Typography
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-16;
		letter-spacing: $size-16 * $character;
		line-height: $size-16;
		color: $title-gray;
		// Structure
		margin-bottom: 45px;

	}

	h2 {
		// Typography
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-10;
		letter-spacing: 1.0px;
		line-height: $size-10;
		text-transform: uppercase;
		color: $subtitle-gray;
		// Structure
		margin-bottom: 5px;

	}

	img {
		margin-bottom: 50px;

	}

	.product-details {
		width: 100%;
		overflow: hidden;

		p.detail-title {
			//Structure
			width: 50%;
			float: left;
			// Typography
			font-family: $lato;
			font-weight: $light;
			font-size: $size-12;
			letter-spacing: $size-12 * $character;
			line-height: $size-12;
			color: $black;

		}

		p.detail-description {
			//Structure
			width: 50%;
			float: left;
			// Typography
			font-family: $lato;
			font-weight: $light;
			font-size: $size-12;
			letter-spacing: $size-12 * $character;
			line-height: $size-12;
			color: $nav-gray;

		}

	}
}

/* Product Cards */
@mixin link-card-structure {
	height: $card-height;
	width: $card-width;
	padding: $card-padding;
	border: 1px solid $opaque-blue;
	border-radius: $card-radius;
	text-align: center;
	padding: 192px 0;
	@include background-transition;

	&:hover {
		background-color: $opaque-blue;

		& .arrow {
			//Type
			color: $dark-blue;

			&:after {
				//Structure
				background: $dark-blue;

    		}

		}

	}

}

@mixin link-card-typographies {

	//Typography
	p {
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-16;
		letter-spacing: $size-16 * $character;
		line-height: $size-16;
		text-decoration: none;
		color: $blue;
		//Structure
		display: inline-block;
		//Transitions
		@include color-transition;

		&:after {
			//Structure
			position:relative;
			display:inline-block;
	        width: 10px;
	        height: 10px;
			top: 0;
			margin-left: 2px;
	        content: '';
	        background: $blue;
	        //Transition
	        @include background-color-transition;
	        //SVG Mask
	        @include svg-clipping-mask('../imagenes/test.svg');

		}

	}

}

/* Services - - - - - - - - - */
/* Brand Section */
@mixin brands {
	h1 {
		//Typography
		font-family: $lato;
		font-weight: $light;
		font-size: $size-28;
		letter-spacing: $size-28 * $character;
		line-height: $size-28;
		color: $title-gray;
		//Structure
		margin-bottom: 10px;

	}

	p {
		//Typography
		font-family: $lato;
		font-weight: $light;
		font-size: $size-16;
		letter-spacing: $size-16 * $character;
		line-height: $default-line;
		color: $text-gray;
		//Structure
		margin-bottom: 50px;
		padding: 0 315px;

	}

	img {


	}

}

/* Feature Sections */
@mixin features {
		h1 {
		//Typography
		font-family: $lato;
		font-weight: $light;
		font-size: $size-28;
		letter-spacing: $size-28 * $character;
		line-height: $size-28;
		margin-bottom: 10px;

	}

	p {
		//Typography
		font-family: $lato;
		font-weight: $light;
		font-size: $size-16;
		letter-spacing: $size-16 * $character;
		line-height: $default-line;

	}

}

/* About Us - - - - - - - - - */
@mixin about-us {
	h1 {
		//Type
		font-family: $lato;
		font-weight: $light;
		font-size: $size-18;
		letter-spacing: $size-18 * $character;
		line-height: $default-line;
		color: $title-gray;

	}

	p {
		//Type
		font-family: $lato;
		font-weight: $light;
		font-size: $size-14;
		letter-spacing: $size-14 * $character;
		line-height: $default-line;
		color: $text-gray;

	}

}

@mixin title {
	h1 {
		//Type
		font-family: $lato;
		font-weight: $light;
		font-size: $size-28;
		letter-spacing: $size-28 * $character;
		line-height: $default-line;
		color: $title-gray;

	}

	p {
		//Type
		font-family: $lato;
		font-weight: $light;
		font-size: $size-16;
		letter-spacing: $size-16 * $character;
		line-height: $default-line;
		color: $text-gray;

	}

}

/* Contact Us - - - - - - - - - */
@mixin shadow-transition {
	-webkit-transition: box-shadow $standard $fast;
	-moz-transition: box-shadow $standard $fast;
	-o-transition: box-shadow $standard $fast;
	transition: box-shadow $standard $fast;

}

@mixin card-type {
	h1 {
		font-family: $lato;
		font-weight: $hairline;
		font-size: $size-22;
		letter-spacing: $size-22 * $character;
		line-height: $default-line;
		color: $black;
		//Structure
		padding-bottom: 5px;

	}

	p {
		font-family: $lato;
		font-weight: $light;
		font-size: $size-16;
		letter-spacing: $size-16 * $character;
		line-height: 18px;
		color: $nav-gray;
		//Transition
		@include color-transition;
		//Structure
		padding-bottom: 15px;

		&.status {
			font-weight: $regular;
			color: $green;
		}

		&.call {
			//Type
			font-weight: $regular;
			color: $green;
			//Transitions
			@include color-transition;

		}

		&.arrow {
			//Type
			font-weight: $regular;
			color: $blue;
			//Transitions
			@include color-transition;

			&:after {
				//Structure
				position:relative;
				display:inline-block;
		        width: 10px;
		        height: 10px;
				top: 0;
				margin-left: 2px;
		        content: '';
		        background: $blue;
		        //Transition
		        @include background-color-transition;
		        //SVG Mask
		        @include svg-clipping-mask('../imagenes/test.svg');

    		}

		}

	}

	.status-indicator {
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 2.5px;
		width: 6px;
		height: 6px;
		border-radius: 3px;
		background-color: $green;
		@include status-animation;

	}

}

/* Error - - - - - - - - - */
@mixin error-type {
	h1 {
		font-family: $lato;
		font-weight: $light;
		font-size: $size-36;
		letter-spacing: $size-36 * $character;
		line-height: $size-36;
		color: $title-gray;
		//Structure
		margin-bottom: 15px;

	}

	h3 {
		font-family: $lato;
		font-weight: $hairline;
		font-size: $size-22;
		letter-spacing: $size-22 * $character;
		line-height: $default-line;
		color: $text-gray;
		//Structure
		margin-bottom: 25px;

	}

	a {
		//Type
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-16;
		letter-spacing: $size-16 * $character;
		line-height: $size-16;
		text-decoration: none;

		&.arrow {
			//Type
			color: $blue;
			//Transitions
			@include color-transition;

			&:hover {
				//Type
				color: $dark-blue;

			}

			&:after {
				//Structure
				position:relative;
				display:inline-block;
		        width: 10px;
		        height: 10px;
				top: 0;
				margin-left: 2px;
		        content: '';
		        background: $blue;
		        //Transition
		        @include background-color-transition;
		        //SVG Mask
		        @include svg-clipping-mask('../imagenes/test.svg');

    		}

    		&:hover:after {
    			//Structure
    			background: $dark-blue;

    		}

		}

	}

}

/* Message Form - - - - - - - - - */
@mixin main-types {
	h1 {
		font-family: $lato;
		font-weight: $light;
		font-size: $size-36;
		letter-spacing: $size-36 * $character;
		line-height: $size-36;
		color: $title-gray;
		//Structure
		margin-bottom: 15px;

	}

	h3 {
		font-family: $lato;
		font-weight: $hairline;
		font-size: $size-22;
		letter-spacing: $size-22 * $character;
		line-height: $default-line;
		color: $text-gray;
		//Structure
		margin-bottom: 45px;

	}

}


































