/* Global Mixins   - - - - - - - - - */
/* Navigation Hover Transitions */
@mixin color-transition {
	-webkit-transition: color $standard $fast;
	-moz-transition: color $standard $fast;
	-o-transition: color $standard $fast;
	transition: color $standard $fast;	
}

/* Margin Removal */
@mixin remove-margin {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

/* Main Navigation */
@mixin nav-link {
	a {
		font-family: $lato;
		font-weight: $light;
		font-size: $size-14;
		letter-spacing: 0.5px;
		line-height: $size-14;
		color: $nav-gray;
		text-decoration: none;
		@include color-transition;
		&:hover {
			color: $blue;
		}
	}
}

/* Hero Section */
@mixin hero {
	h1 {
		// Typography
		font-family: $lato;
		font-weight: $light;
		font-size: $size-32;
		letter-spacing: $size-32 * $character;
		line-height: $size-32;
		color: $white;
		// Structure
		margin-bottom: 10px;
	}

	p {
		// Typography
		font-family: $lato;
		font-weight: $light;
		font-size: $size-14;
		letter-spacing: $size-14 * $character;
		line-height: $default-line;
		color: $white;
		// Structure
		padding: 0px 150px;
	}
}

/* Contact Section */
@mixin contact-section {
	h2 {
		font-family: $lato;
		font-weight: $hairline;
		font-size: $size-18;
		letter-spacing: $size-18 * $character;
		line-height: $size-18;
		color: $title-gray;
		padding: 15px 0 7.5px 0;
	} 

	p {
		font-family: $lato;
		font-weight: $hairline;
		font-size: $size-14; 
		letter-spacing: $size-14 * $character;
		line-height: $default-line;
		color: $text-gray;
		padding-bottom: 10px;
	}

	p.status {
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-14;
		letter-spacing: $size-14 * $character;
		line-height: $size-14;
		color: $green;
	}

	a {
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-14;
		letter-spacing: $size-14 * $character;
		line-height: $size-14;
		color: $blue;
		text-decoration: none;
	}
}

/* Footer */
@mixin footer {
	p {
		font-family: $lato;
		font-weight: $light;
		font-size: $size-12;
		letter-spacing: $size-12 * $character;
		line-height: $size-12;
		color: $author-gray;
	}

	a {
		font-family: $lato;
		font-weight: $light;
		font-size: $size-12; 
		letter-spacing: $size-12 * $character; 
		line-height: $size-12;
		text-decoration: none;
		color: $text-gray;
		@include color-transition;
		&:hover {
			color: $blue;
		}
	} 

	a.author {
		color: $author-gray;
		@include color-transition;
		&:hover {
			color: $blue;
		}
	}
}

/* Index Mixins   - - - - - - - - - */
/* Hero Background Gradient */
@mixin standard-gradient {
	background: $gradient-gray; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left bottom, $gradient-gray, $white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top right, $gradient-gray, $white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top right, $gradient-gray, $white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to top right, $gradient-gray, $white); /* Standard syntax */
}

/* Product Mixins - - - - - - - - - */
@mixin product-nav {
	ul {
		padding: 0;
	}

	li {
		list-style: none;
		margin-bottom: 25px;

	}

	a {
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-14;
		letter-spacing: 0.5px;
		line-height: $size-14;
		color: $nav-gray;
		text-decoration: none;
		@include color-transition;
		&:hover {
			color: $blue;
		}
	}

}