/* Global Mixins   - - - - - - - - - */
/* Navigation Hover Transitions */
@mixin color-transition {
	-webkit-transition: color $standard $fast;
	-moz-transition: color $standard $fast;
	-o-transition: color $standard $fast;
	transition: color $standard $fast;	
}
/* Background-color Hover Transitions */
@mixin background-transition {
	-webkit-transition: background-color $standard $medium;
	-moz-transition: background-color $standard $medium;
	-o-transition: background-color $standard $medium;
	transition: background-color $standard $medium;	
}

/* Margin Removal */
@mixin remove-margin {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

/* Main Navigation */
@mixin nav-link {
	a {
		font-family: $lato;
		font-weight: $light;
		font-size: $size-14;
		letter-spacing: 0.5px;
		line-height: $size-14;
		color: $nav-gray;
		text-decoration: none;
		@include color-transition;
		&:hover {
			color: $blue;
		}
	}
}

/* Hero Section */
@mixin hero {
	h1 {
		// Typography
		font-family: $lato;
		font-weight: $light;
		font-size: $size-32;
		letter-spacing: $size-32 * $character;
		line-height: $size-32;
		color: $white;
		// Structure
		margin-bottom: 10px;
	}

	p {
		// Typography
		font-family: $lato;
		font-weight: $light;
		font-size: $size-14;
		letter-spacing: $size-14 * $character;
		line-height: $default-line;
		color: $white;
		// Structure
		padding: 0px 150px;
	}
}

/* Contact Section */
@mixin contact-section {
	h2 {
		font-family: $lato;
		font-weight: $hairline;
		font-size: $size-18;
		letter-spacing: $size-18 * $character;
		line-height: $size-18;
		color: $title-gray;
		padding: 15px 0 7.5px 0;
	} 

	p {
		font-family: $lato;
		font-weight: $hairline;
		font-size: $size-14; 
		letter-spacing: $size-14 * $character;
		line-height: $default-line;
		color: $text-gray;
		padding-bottom: 10px;
	}

	p.status {
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-14;
		letter-spacing: $size-14 * $character;
		line-height: $size-14;
		color: $green;
	}

	a {
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-14;
		letter-spacing: $size-14 * $character;
		line-height: $size-14;
		color: $blue;
		text-decoration: none;
	}

	a.call {
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-14;
		letter-spacing: $size-14 * $character;
		line-height: $size-14;
		color: $green;
		text-decoration: none;
	}
}

/* Footer */
@mixin footer {
	p {
		font-family: $lato;
		font-weight: $light;
		font-size: $size-12;
		letter-spacing: $size-12 * $character;
		line-height: $size-12;
		color: $author-gray;
	}

	a {
		font-family: $lato;
		font-weight: $light;
		font-size: $size-12; 
		letter-spacing: $size-12 * $character; 
		line-height: $size-12;
		text-decoration: none;
		color: $text-gray;
		@include color-transition;
		&:hover {
			color: $blue;
		}
	} 

	a.author {
		color: $author-gray;
		@include color-transition;
		&:hover {
			color: $blue;
		}
	}
}

/* Index Mixins   - - - - - - - - - */
/* Hero Background Gradient */
@mixin standard-gradient {
	background: $gradient-gray; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left bottom, $gradient-gray, $white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top right, $gradient-gray, $white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top right, $gradient-gray, $white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to top right, $gradient-gray, $white); /* Standard syntax */
}

/* Product Mixins - - - - - - - - - */
/* Product Navigation */
@mixin product-nav {
	ul {
		padding: 0;
	}

	li {
		list-style: none;
		margin-bottom: 25px;

	}

	a {
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-14;
		letter-spacing: 0.5px;
		line-height: $size-14;
		color: $nav-gray;
		text-decoration: none;
		@include color-transition;
		&:hover {
			color: $blue;
		}
	}

}

/* Feature List */
@mixin feature-structure {
	ul {
		padding: 0;
		margin: 0 10px;
		overflow: hidden;
		border-bottom: 1px solid $feature-gray;
		margin-bottom: 50px;
	}

	li {
		position: relative;
		display: inline-block;
		float: left;
		list-style: none;
		margin-bottom: 15px;
		padding-left: 18px;
		margin-right: 28px;

		&:last-of-type {
			float: right;
			margin-right: 0;

		}
	}

}

@mixin feature-typographies {

	li {
		//Typography
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-14;
		letter-spacing: $size-14 * $character;
		line-height: $size-14;
		color: $text-gray;
		// Imagery
		background-image: url('../imagenes/iconos/check@1x.png');
		background-repeat: no-repeat;
		background-position: left center;
	}

}

/* Product Category Title */
@mixin category-typography {
		// Typography
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-12;
		letter-spacing: 1.5px;
		line-height: $size-12;
		text-transform: uppercase;
		color: $text-gray;
		// Structure
		margin-bottom: 20px;

}

/* Product Cards */
@mixin card-structure {
	// height: $card-height;
	padding: $card-padding;
	border-radius: $card-radius;
	background-color: $white;
	box-shadow: $card-shadow;

}

@mixin card-typographies {
	h1 {
		// Typography
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-16;
		letter-spacing: $size-16 * $character;
		line-height: $size-16;
		color: $title-gray;
		// Structure
		margin-bottom: 45px;

	}

	h2 {
		// Typography
		font-family: $lato;
		font-weight: $regular;
		font-size: $size-10;
		letter-spacing: 1.0px;
		line-height: $size-10;
		text-transform: uppercase;
		color: $subtitle-gray;
		// Structure
		margin-bottom: 5px;

	}

	img {
		margin-bottom: 50px;

	}

	.product-details {
		width: 100%;
		overflow: hidden;

		p.detail-title {
			//Structure
			width: 50%;
			float: left;
			// Typography
			font-family: $lato;
			font-weight: $light;
			font-size: $size-12;
			letter-spacing: $size-12 * $character;
			line-height: $size-12;
			color: $black;

		}

		p.detail-description {
			//Structure
			width: 50%;
			float: left;
			// Typography
			font-family: $lato;
			font-weight: $light;
			font-size: $size-12;
			letter-spacing: $size-12 * $character;
			line-height: $size-12;
			color: $nav-gray;

		}

	}
}

/* Product Cards */
@mixin link-card-structure {
	height: $card-height;
	width: $card-width;
	padding: $card-padding;
	border: 1px solid $opaque-blue;
	border-radius: $card-radius;
	text-align: center;
	padding: 192px 0;
	@include background-transition;
	&:hover {
		background-color: $opaque-blue;
	}

}

@mixin link-card-typographies {
	//Typography
	font-family: $lato;
	font-weight: $regular;
	font-size: $size-16;
	letter-spacing: $size-16 * $character;
	line-height: $size-16;
	text-decoration: none;
	color: $blue;
	//Structure
	display: inline-block;

}






