/* Font Stacks */
$lato-url: "https://fonts.googleapis.com/css?family=Lato:100,400,300,700,900";
$lato: 'Lato', sans-serif;

/* Font Weights */
$hairline: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

/* Media Query Screen Sizes */
$tablet: 1020px;
$large-mobile: 735px;
$small-mobile: 650px;
$tiny-mobile: 500px;

/* Colors */
$black: #000000;
$white: #ffffff;
$transparent: rgba($white, 0);
$title-gray: #212121;
$subtitle-gray: #b3b3b3;
$text-gray: #4a4a4a;
$nav-gray: #969696;
$copyright-gray: #969696;
$author-gray: #b3b3b3;
$separator-gray: #dadada;
$feature-gray: #eaeaea;
$border-gray: #f6f6f6;
$gradient-gray: #fbfbfb;
$blue: #0080ff;
$dark-blue: #0061c1;
$opaque-blue: rgba(0,128,255,0.50);
$hover-blue: rgba(0,128,255,0.10);
$green: #25c315;
$dark-green: #008027;
$orange: #f5a623;
$red: #d0021b;
$shadow: rgba($black, 0.1);

/* Text Sizing */
$size-10: 10px;
$size-12: 12px;
$size-13: 13px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-22: 22px;
$size-28: 28px;
$size-32: 32px;
$size-36: 36px;
$character: 0.0125;
$default-line: 1.5;

/* Grid System */
$columns: 12px;
$col-width: $columns / 100;

/* Spacers */
$standard: 75px;

/* Animation Timing */
$standard: ease-in-out;
$fast: 0.25s;
$medium: 0.5s;

/* Heros */
$hero-height: 300px;
$hero-margin: 75px;
$content-padding: 135px;

/* Product Cards */
$card-height: 400px;
$card-width: 300px;
$card-padding: 20px;
$card-radius: 5px;
$card-shadow: 0px 2px 5px 0px rgba(0,0,0,0.10);
