@import "variables";
@import "mixins";
@import "grid";
@import "nav.scss";
@import "contact-sections.scss";
@import "footer.scss";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	@include remove-margin;
}

body {
	background-color: $white;
}

/* Contact Section */
.contact {
	width: 100%;
	padding: 175px 0 85px 0;
	overflow: hidden;

}

.contact-col {
	float: left;
	padding: 0 10px;
	width: 50%;
	margin-bottom: 20px;

}

.contact-col:nth-child(even) {
	float: right;
	padding: 0 20px;

}

.link-wrapper {
	text-decoration: none;

	&:hover .contact-card {
		box-shadow: 0 1px 20px rgba(0,0,0,0.10);

	}

}

.contact-card {
	//Structure
	text-align: center;
	padding: 80px 65px;
	width: 450px;
	height: 323px;
	margin-bottom: 20px;
	margin-right: 0;
	background-color: $white;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.10);
	@include card-type;
	@include shadow-transition;

	&:hover {
		& .arrow {
			//Type
			color: $dark-blue;

			&:after {
					//Structure
    			background: $dark-blue;

			}

		}

		& .call {
			color: $dark-green;

		}

	}

	&:active {
		& .arrow {
			//Type
			color: $dark-blue;

			&:after {
				//Structure
				background: $dark-blue;

			}

		}
		& .call {
			color: $dark-green;

		}

	}

}

//Icons
#horarios {
	width: 23px;
	height: 31px;

}

#marcanos {
	width: 17px;
	height: 31px;

}

#direccion {
	width: 21px;
	height: 31px;

}

#mensajes {
	width: 31px;
	height: 21px;
	margin-top: 10px;

}

#clock-hands {
	position: absolute;
	top: 5px;
	left: 150px;


}

/* Tablet Version */
@media screen and (max-width: $tablet) {
	.contact {
		height: 100%;
		padding: 200px 0 50px 0;

	}

	.contact-card {
		width: 100%;
		padding: 80px 45px;
		margin-bottom: 10px;

	}

}

/* Large Phones - - - - - - - - */
@media screen and (max-width: $large-mobile) {
	.contact-col {
		float: none;
		width: 100%;

		.link-wrapper {
			overflow: auto;
			height: 100%;
			width: 100%;

		}

	}

	.contact-col:nth-child(even) {
		float: none;
		width: 100%;
		padding: 0 10px;

	}


}
