@import "variables";
@import "mixins";

/* Contact Sections */
article.contact {
	background-color: $white;
}

#hours, #contact, #address {
	padding: 100px 25px;
	text-align: center;
	@include contact-section;

}

#horarios {
	width: 23px;
	height: 31px;

}

#marcanos {
	width: 17px;
	height: 31px;

}

#direccion {
	width: 21px;
	height: 31px;

}

#mensajes {
	width: 31px;
	height: 21px;
	margin-top: 10px;

}