@import "variables";
@import "mixins";
@import "grid";
@import "nav.scss";
@import "contact-sections.scss";
@import "footer.scss";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	@include remove-margin;
}

body {
	background-color: $white;
}

.message {
	//Type
	@include error-type;
	//Structure
	margin-top: 50px;
	padding: 200px 200px;
	text-align: center;

	ul {
		position: relative;
		top: 16px;
		padding: 0;

	}

	li {
		display: inline-block;
		list-style: none;

	}

	li:nth-child(1) {
		margin-right: 35px;

	}

}

#error {
	width: 61px;
	height: 61px;
	margin-bottom: 35px;

}

#construction {
	width: 75px;
	height: 75px;
	margin-bottom: 25px;

}
