@import "variables";
@import "mixins";

/* Footer */
.footer {
	width: 100%;

	footer {
		padding: 7.5px 0;
		margin-bottom: 35px;
		border-top: 1px solid $feature-gray;
		@include footer;

		.legal {
			float: right;

		}

		ul {
			position: relative;

		}

		li {
			float: left;
			list-style: none;
			margin-left: 15px;

		}

		.separator {
			width: 1px;
			height: 19px;
			background-color: $separator-gray;

		}

		.copyright {
			position: relative;
			top: 16px;

		}

	}
}

/* Tablets - - - - - - - - - - */
@media screen and (max-width: $tablet) {

	footer {
		padding: 7.5px 0 !important;
		margin-bottom: 10px;

		.footer {
			overflow: hidden;

		}

	}

	.copyright {
		display: inline-block;
		float: left;

	}


	.legal {
		float: right;

		ul {
			float: right;
			padding-top: 12px;

		}

		li {
			display: inline-block;
			padding: 0;
			margin-left: 15px !important;

			a {
				padding: 0;

			}

			.separator {
				position: relative;

			}

		}

	}

}

/* Phones - - - - - - - - - */
@media screen and (max-width: $large-mobile) {
	footer {
		padding: 15px 0 !important;

	}

	.legal li.separator, .legal li.author {
		display: none;

	}

}
