@import "variables";
@import "mixins";
@import "grid";
@import "nav.scss";
@import "contact-sections.scss";
@import "footer.scss";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	@include remove-margin;
}

body {
	background-color: $white;
}

/* Slideshow */
.slider {
	//Structure
	position: relative;
	width: 100%;
	height: 750px;
	padding-top: 50px;
	@include standard-gradient;
	//Type
	@include slider-type;

}

.content {
	padding-top: 250px;
}

.wrapper {
	height: 100%;
	width: 100%;
}

/* Spacers */
.spacer {
	padding: 37.5px 0;
	background-color: $white;
}

/* Contact Sections */
article.contact-sections {
	background-color: $white;
}