@import "variables";
@import "mixins";
@import "grid";
@import "nav.scss";
@import "contact-sections.scss";
@import "footer.scss";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	@include remove-margin;
}

body {
	background-color: $white;
}

/* Slideshow */
.slider {
	//Structure
	position: relative;
	width: 100%;
	height: 750px;
	padding: 170px 0;
	@include standard-gradient;
	//Type
	@include slider-type;

}

/* Spacers */
.spacer {
	padding: 37.5px 0;
	background-color: $white;
}

/* Contact Sections */
article.contact-sections {
	background-color: $white;
}