/* Font Stacks */
/* Font Weights */
/* Colors */
/* Text Sizing */
/* Grid System */
/* Spacers */
/* Animation Timing */
/* Heros */
/* Product Cards */
/* Global Mixins   - - - - - - - - - */
/* Navigation Hover Transitions */
/* SVG Background Color Transitions */
/* SVG Clipping Mask */
/* Background-color Hover Transitions */
/* Margin Removal */
/* Main Navigation */
/* Hero Section */
/* Contact Section */
/* Animation Keyframes */
@-webkit-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-moz-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-o-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
/* Type */
/* Footer */
/* Index Mixins   - - - - - - - - - */
/* Hero Background Gradient */
/* Slider Type */
/* Product Mixins - - - - - - - - - */
/* Product Navigation */
/* Feature List */
/* Product Category Title */
/* Product Cards */
/* Product Cards */
/* Services - - - - - - - - - */
/* Brand Section */
/* Feature Sections */
/* About Us - - - - - - - - - */
/* Contact Us - - - - - - - - - */
/* Error - - - - - - - - - */
/* Grid System */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Wrapper */
.wrapper {
  max-width: 960px;
  margin: 0 auto; }

/* Container Rules */
.container {
  width: 100%;
  max-width: 960px;
  box-sizing: border-box; }

/* Row Rules */
.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

/* Column Rules */
[class*='col-'] {
  float: left;
  padding: 0 10px;
  min-height: 1px; }

[class*='col-']:last-of-type {
  padding: 0;
  min-height: 1px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/* Font Stacks */
/* Font Weights */
/* Colors */
/* Text Sizing */
/* Grid System */
/* Spacers */
/* Animation Timing */
/* Heros */
/* Product Cards */
/* Global Mixins   - - - - - - - - - */
/* Navigation Hover Transitions */
/* SVG Background Color Transitions */
/* SVG Clipping Mask */
/* Background-color Hover Transitions */
/* Margin Removal */
/* Main Navigation */
/* Hero Section */
/* Contact Section */
/* Animation Keyframes */
@-webkit-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-moz-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-o-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
/* Type */
/* Footer */
/* Index Mixins   - - - - - - - - - */
/* Hero Background Gradient */
/* Slider Type */
/* Product Mixins - - - - - - - - - */
/* Product Navigation */
/* Feature List */
/* Product Category Title */
/* Product Cards */
/* Product Cards */
/* Services - - - - - - - - - */
/* Brand Section */
/* Feature Sections */
/* About Us - - - - - - - - - */
/* Contact Us - - - - - - - - - */
/* Error - - - - - - - - - */
/* Navigation */
.nav-bar {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  display: block;
  padding-bottom: 25px;
  top: 0px;
  border-bottom: 1px solid #dadada;
  z-index: 2; }
  .nav-bar nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px; }
  .nav-bar #logo {
    position: relative;
    top: 13px;
    width: 236px;
    height: 24px;
    -webkit-transition: background ease-in-out 0.25s;
    -moz-transition: background ease-in-out 0.25s;
    -o-transition: background ease-in-out 0.25s;
    transition: background ease-in-out 0.25s;
    -webkit-clip-path: url("../imagenes/logo/logo.svg");
    clip-path: url("../imagenes/logo/logo.svg");
    -webkit-mask: url("../imagenes/logo/logo.svg");
    mask: url("../imagenes/logo/logo.svg");
    background: #4a4a4a; }
    .nav-bar #logo:hover {
      background: #000000; }
  .nav-bar ul {
    position: relative;
    top: 16px;
    float: right; }
  .nav-bar li {
    float: left;
    list-style: none;
    margin-left: 50px; }
    .nav-bar li a {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 14px;
      color: #969696;
      text-decoration: none;
      -webkit-transition: color ease-in-out 0.25s;
      -moz-transition: color ease-in-out 0.25s;
      -o-transition: color ease-in-out 0.25s;
      transition: color ease-in-out 0.25s; }
      .nav-bar li a:hover {
        color: #0080ff; }

/* Font Stacks */
/* Font Weights */
/* Colors */
/* Text Sizing */
/* Grid System */
/* Spacers */
/* Animation Timing */
/* Heros */
/* Product Cards */
/* Global Mixins   - - - - - - - - - */
/* Navigation Hover Transitions */
/* SVG Background Color Transitions */
/* SVG Clipping Mask */
/* Background-color Hover Transitions */
/* Margin Removal */
/* Main Navigation */
/* Hero Section */
/* Contact Section */
/* Animation Keyframes */
@-webkit-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-moz-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-o-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
/* Type */
/* Footer */
/* Index Mixins   - - - - - - - - - */
/* Hero Background Gradient */
/* Slider Type */
/* Product Mixins - - - - - - - - - */
/* Product Navigation */
/* Feature List */
/* Product Category Title */
/* Product Cards */
/* Product Cards */
/* Services - - - - - - - - - */
/* Brand Section */
/* Feature Sections */
/* About Us - - - - - - - - - */
/* Contact Us - - - - - - - - - */
/* Error - - - - - - - - - */
/* Contact Sections */
article.contact {
  background-color: #ffffff; }

#contact {
  padding: 100px 25px;
  text-align: center; }
  #contact h2 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 0.225px;
    line-height: 18px;
    color: #212121;
    padding: 15px 0 7.5px 0; }
  #contact p {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 0.175px;
    line-height: 1.5;
    color: #4a4a4a;
    padding-bottom: 10px; }
  #contact p.status {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.175px;
    line-height: 14px;
    color: #25c315; }
  #contact a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.175px;
    line-height: 14px;
    text-decoration: none; }
    #contact a.call {
      color: #25c315;
      -webkit-transition: color ease-in-out 0.25s;
      -moz-transition: color ease-in-out 0.25s;
      -o-transition: color ease-in-out 0.25s;
      transition: color ease-in-out 0.25s; }
      #contact a.call:hover {
        color: #008027; }
    #contact a.arrow {
      color: #0080ff;
      -webkit-transition: color ease-in-out 0.25s;
      -moz-transition: color ease-in-out 0.25s;
      -o-transition: color ease-in-out 0.25s;
      transition: color ease-in-out 0.25s; }
      #contact a.arrow:hover {
        color: #0061c1; }
      #contact a.arrow:after {
        position: relative;
        display: inline-block;
        width: 8px;
        height: 8px;
        top: 0;
        margin-left: 2px;
        content: '';
        background: #0080ff;
        -webkit-transition: background ease-in-out 0.25s;
        -moz-transition: background ease-in-out 0.25s;
        -o-transition: background ease-in-out 0.25s;
        transition: background ease-in-out 0.25s;
        -webkit-clip-path: url("../imagenes/test.svg");
        clip-path: url("../imagenes/test.svg");
        -webkit-mask: url("../imagenes/test.svg");
        mask: url("../imagenes/test.svg"); }
      #contact a.arrow:hover:after {
        background: #0061c1; }
  #contact .store-status {
    position: relative; }
  #contact .status-indicator {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 2.5px;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #25c315;
    -webkit-animation: open-status 2s infinite;
    -moz-animation: open-status 2s infinite;
    -o-animation: open-status 2s infinite;
    animation: open-status 2s infinite; }

#horarios {
  width: 23px;
  height: 31px; }

#marcanos {
  width: 17px;
  height: 31px; }

#direccion {
  width: 21px;
  height: 31px; }

#mensajes {
  width: 31px;
  height: 21px;
  margin-top: 10px; }

/* Font Stacks */
/* Font Weights */
/* Colors */
/* Text Sizing */
/* Grid System */
/* Spacers */
/* Animation Timing */
/* Heros */
/* Product Cards */
/* Global Mixins   - - - - - - - - - */
/* Navigation Hover Transitions */
/* SVG Background Color Transitions */
/* SVG Clipping Mask */
/* Background-color Hover Transitions */
/* Margin Removal */
/* Main Navigation */
/* Hero Section */
/* Contact Section */
/* Animation Keyframes */
@-webkit-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-moz-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-o-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
/* Type */
/* Footer */
/* Index Mixins   - - - - - - - - - */
/* Hero Background Gradient */
/* Slider Type */
/* Product Mixins - - - - - - - - - */
/* Product Navigation */
/* Feature List */
/* Product Category Title */
/* Product Cards */
/* Product Cards */
/* Services - - - - - - - - - */
/* Brand Section */
/* Feature Sections */
/* About Us - - - - - - - - - */
/* Contact Us - - - - - - - - - */
/* Error - - - - - - - - - */
/* Footer */
.footer {
  width: 100%; }
  .footer footer {
    padding: 7.5px 10px 0;
    margin-bottom: 35px;
    border-top: 1px solid #f6f6f6; }
    .footer footer p {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 0.15px;
      line-height: 12px;
      color: #b3b3b3; }
    .footer footer a {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 0.15px;
      line-height: 12px;
      text-decoration: none;
      color: #4a4a4a;
      -webkit-transition: color ease-in-out 0.25s;
      -moz-transition: color ease-in-out 0.25s;
      -o-transition: color ease-in-out 0.25s;
      transition: color ease-in-out 0.25s; }
      .footer footer a:hover {
        color: #0080ff; }
    .footer footer a.author {
      color: #b3b3b3;
      -webkit-transition: color ease-in-out 0.25s;
      -moz-transition: color ease-in-out 0.25s;
      -o-transition: color ease-in-out 0.25s;
      transition: color ease-in-out 0.25s; }
      .footer footer a.author:hover {
        color: #0080ff; }
    .footer footer ul {
      position: relative;
      float: right; }
    .footer footer li {
      float: left;
      list-style: none;
      margin-left: 15px; }
    .footer footer .separator {
      width: 1px;
      height: 19px;
      background-color: #dadada; }
    .footer footer .copyright {
      position: relative;
      top: 15px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

body {
  background-color: #ffffff; }

/* Slideshow */
.slider {
  width: 100%;
  margin-top: 53px;
  background: #fbfbfb;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left bottom, #fbfbfb, #ffffff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top right, #fbfbfb, #ffffff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top right, #fbfbfb, #ffffff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top right, #fbfbfb, #ffffff);
  /* Standard syntax */ }
  .slider h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0.4px;
    line-height: 32px;
    color: #212121;
    margin-bottom: 10px; }
  .slider p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.225px;
    line-height: 1.5;
    color: #4a4a4a;
    margin-bottom: 10px; }
  .slider a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.225px;
    line-height: 18px;
    color: #0080ff;
    text-decoration: none; }
    .slider a.arrow {
      color: #0080ff;
      -webkit-transition: color ease-in-out 0.25s;
      -moz-transition: color ease-in-out 0.25s;
      -o-transition: color ease-in-out 0.25s;
      transition: color ease-in-out 0.25s; }
      .slider a.arrow:hover {
        color: #0061c1; }
      .slider a.arrow:after {
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        top: 0;
        margin-left: 2px;
        content: '';
        background: #0080ff;
        -webkit-transition: background ease-in-out 0.25s;
        -moz-transition: background ease-in-out 0.25s;
        -o-transition: background ease-in-out 0.25s;
        transition: background ease-in-out 0.25s;
        -webkit-clip-path: url("../imagenes/test.svg");
        clip-path: url("../imagenes/test.svg");
        -webkit-mask: url("../imagenes/test.svg");
        mask: url("../imagenes/test.svg"); }
      .slider a.arrow:hover:after {
        background: #0061c1; }

.parent {
  position: relative; }

.content {
  position: relative;
  width: 40%;
  padding: 200px 0;
  z-index: 2; }

.img {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer; }

/* Spacers */
.spacer {
  padding: 37.5px 0;
  background-color: #ffffff; }

/* Contact Sections */
article.contact-sections {
  background-color: #ffffff; }

/*# sourceMappingURL=index.css.map */
