@import "variables";
@import "mixins";
@import "grid";
@import "nav.scss";
@import "contact-sections.scss";
@import "footer.scss";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	@include remove-margin;
}

body {
	background-color: $white;
}

/* Slideshow */
.slider {
	//Structure
	width: 100%;
	margin-top: 53px;
	@include standard-gradient;
	//Type
	@include slider-type;

}

.parent {
	//Structure
	position: relative;

}

.content {
	//Structure
	position: relative;
	width: 40%;
	padding: 200px 0;
	z-index: 2;

}

.img {
	//Structure
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;

}

/* Spacers */
.spacer {
	padding: 37.5px 0;
	background-color: $white;
}

/* Contact Sections */
article.contact-sections {
	background-color: $white;
}
