@import "variables";
@import "mixins";
@import "grid";
@import "nav.scss";
@import "contact-sections";
@import "footer.scss";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

*, *:before, *:after {
	@include remove-margin;

}

body {
	// Imagery
	background-color: $white;

}

/* Hero Section */
.hero {
	// Structure
	height: $hero-height;
	// Imagery
	background-image: url('../imagenes/headers/materiales.jpg');
	background-position: 50% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
	
	// Typography
	@include hero;

}

.content {
	// Structure
	text-align: center;
	padding: $content-padding;

}

/* Product Section - - - - - - - - - */
.products {
	padding: 75px 0;
	background-color: $gradient-gray;

}

/* Product Navigation */
.product-nav {
	@include product-nav;

}

/* Product Features List */
.feature-list {
	overflow: hidden;
	@include feature-structure;
	@include feature-typographies;

	.check-mark {
		position: relative;
		display: inline-block;
		top: 2px;
		width: 13px;
		height: 13px;

		.svg {
			margin-top: 2px;
			stroke: $blue;
			stroke-width: 0.5px;
			fill: $blue;

		}
	}

}

/* Product Category Title */
.category-title {
	padding: 0 10px;
	
	h1 {
		@include category-typography;
	}
}

/* Card Column */
.product-card {
	float: left;
	padding: 0 10px;
	width: 50%;
	margin-bottom: 20px;

}

.card {
	@include card-structure;
	@include card-typographies;

}

.detail-section {
	margin-bottom: 19px;

	sup {
		vertical-align: top;
		font-size: 0.75em;

	}
}

.link-card {
	@include link-card-structure;
	@include link-card-typographies;

	.arrow {
		display: inline-block;
		margin-left: 2px;
		width: 9px;
		height: 9px;

		.svg {
			stroke: $blue;
			stroke-width: 0.5px;
			fill: $blue;
		}
	}
	
}












