/* Global Mixins   - - - - - - - - - */
/* Navigation Hover Transitions */
/* Margin Removal */
/* Main Navigation */
/* Contact Section */
/* Footer */
/* Index Mixins   - - - - - - - - - */
/* Hero Background Gradient */
/* Products Mixins - - - - - - - - - */
/* Grid System */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Wrapper */
.wrapper {
  max-width: 960px;
  margin: 0 auto; }

/* Container Rules */
.container {
  width: 100%;
  max-width: 960px;
  box-sizing: border-box; }

/* Row Rules */
.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

/* Column Rules */
[class*='col-'] {
  float: left;
  padding: 0 10px; }

[class*='col-']:last-of-type {
  padding: 0; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/* Global Mixins   - - - - - - - - - */
/* Navigation Hover Transitions */
/* Margin Removal */
/* Main Navigation */
/* Contact Section */
/* Footer */
/* Index Mixins   - - - - - - - - - */
/* Hero Background Gradient */
/* Products Mixins - - - - - - - - - */
/* Navigation */
.nav-bar {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  display: block;
  padding-bottom: 25px;
  top: 0px;
  border-bottom: 1px solid #fbfbfb;
  z-index: 2; }
  .nav-bar nav {
    max-width: 960px;
    margin: 0 auto; }
  .nav-bar #logo {
    position: relative;
    top: 13px; }
  .nav-bar ul {
    position: relative;
    top: 16px;
    float: right; }
  .nav-bar li {
    float: left;
    list-style: none;
    margin-left: 50px; }
    .nav-bar li a {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 14px;
      color: #969696;
      text-decoration: none;
      -webkit-transition: color ease-in-out 0.25s;
      -moz-transition: color ease-in-out 0.25s;
      -o-transition: color ease-in-out 0.25s;
      transition: color ease-in-out 0.25s; }
      .nav-bar li a:hover {
        color: #0080ff; }

/* Global Mixins   - - - - - - - - - */
/* Navigation Hover Transitions */
/* Margin Removal */
/* Main Navigation */
/* Contact Section */
/* Footer */
/* Index Mixins   - - - - - - - - - */
/* Hero Background Gradient */
/* Products Mixins - - - - - - - - - */
/* Contact Sections */
article.contact {
  background-color: #ffffff; }

#contact {
  padding: 100px 25px;
  text-align: center; }
  #contact h2 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 0.225px;
    line-height: 18px;
    color: #212121;
    padding: 15px 0 7.5px 0; }
  #contact p {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 0.175px;
    line-height: 1.5;
    color: #4a4a4a;
    padding-bottom: 10px; }
  #contact p.status {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.175px;
    line-height: 14px;
    color: #25c315; }
  #contact a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.175px;
    line-height: 14px;
    color: #0080ff;
    text-decoration: none; }
  #contact .store-status {
    position: relative; }
  #contact .status-indicator {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 2.5px;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #25c315; }
  #contact .arrow {
    display: inline-block;
    margin-left: 4px;
    width: 8px;
    height: 7px;
    background-image: url("../imagenes/iconos/arrow@1x.png");
    background-repeat: no-repeat;
    background-position: center; }

/* Global Mixins   - - - - - - - - - */
/* Navigation Hover Transitions */
/* Margin Removal */
/* Main Navigation */
/* Contact Section */
/* Footer */
/* Index Mixins   - - - - - - - - - */
/* Hero Background Gradient */
/* Products Mixins - - - - - - - - - */
/* Footer */
.footer {
  width: 100%; }
  .footer footer {
    padding: 7.5px 0;
    border-top: 1px solid #f6f6f6; }
    .footer footer p {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 0.15px;
      line-height: 12px;
      color: #b3b3b3; }
    .footer footer a {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 0.15px;
      line-height: 12px;
      text-decoration: none;
      color: #4a4a4a;
      -webkit-transition: color ease-in-out 0.25s;
      -moz-transition: color ease-in-out 0.25s;
      -o-transition: color ease-in-out 0.25s;
      transition: color ease-in-out 0.25s; }
      .footer footer a:hover {
        color: #0080ff; }
    .footer footer a.author {
      color: #b3b3b3;
      -webkit-transition: color ease-in-out 0.25s;
      -moz-transition: color ease-in-out 0.25s;
      -o-transition: color ease-in-out 0.25s;
      transition: color ease-in-out 0.25s; }
      .footer footer a.author:hover {
        color: #0080ff; }
    .footer footer ul {
      position: relative;
      float: right; }
    .footer footer li {
      float: left;
      list-style: none;
      margin-left: 15px; }
    .footer footer .separator {
      width: 1px;
      height: 19px;
      background-color: #dadada; }
    .footer footer .copyright {
      position: relative;
      top: 12px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

body {
  background-color: #ffffff; }

/* Hero Section */
.hero {
  height: 300px;
  background-color: #0080ff; }
  .hero h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0.4px;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 10px; }
  .hero p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.175px;
    line-height: 1.5;
    color: #ffffff;
    padding: 0px 150px; }

.content {
  text-align: center;
  padding: 135px; }

/*# sourceMappingURL=materiales.css.map */
