@import "variables";
@import "mixins";
@import "grid";
@import "nav.scss";
@import "contact-sections";
@import "footer.scss";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

*, *:before, *:after {
	@include remove-margin;

}

body {
	// Imagery
	background-color: $white;

}

.content {
	// Structure
	text-align: center;
	padding: $content-padding;

}

/* Product Section - - - - - - - - - */
.products {
	padding: 175px 0 100px;
	background-color: $white;

}

/* Product Navigation */
.product-nav {
	@include product-nav;

}

.mobile-product-nav {
	display: none;

}

/* Product Features List */
.feature-list {
	overflow: hidden;
	@include feature-structure;
	@include feature-typographies;

	.check-mark {
		position: relative;
		display: inline-block;
		top: 2px;
		width: 13px;
		height: 13px;

		.svg {
			margin-top: 2px;
			stroke: $blue;
			stroke-width: 0.5px;
			fill: $blue;

		}
	}

}

/* Product Category Title */
.category-title {
	padding: 6px 10px 0;

	h1 {
		@include category-typography;
	}
}

/* Card Column */
.product-card {
	float: left;
	padding: 0 10px;
	width: 50%;
	margin-bottom: 20px;

}

.card {
	@include card-structure;
	@include card-typographies;

}

.detail-section {
	margin-bottom: 19px;

	sup {
		vertical-align: top;
		font-size: 0.75em;

	}
}

.link-card {
	@include link-card-structure;
	@include link-card-typographies;

}

@media screen and (max-width: $desktop) {
	.col-8 {
		width: 100%;

	}

	.product-nav {
		display: none;

	}

	.mobile-product-nav {
		display: block;
		overflow: scroll;
		position: fixed;
		top: 121px;
		z-index: 4;
		width: 100%;
		height: 50px;
		background-color: $gradient-gray;
		border-bottom: 1px solid $separator-gray;

		ul {
			display: block;
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
			text-align: center;
			-webkit-overflow-scrolling: touch;
			padding: 15px 50px 15px 0;

		}

		ul::-webkit-scrollbar {
			display: none;

		}

		.white-gradient {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 115px;
			@include white-gradient;

		}

		li {
			float: none !important;
			display: inline;
			padding: 10px 30px;
			margin: 0 !important;

			a {
				@include mobile-product-nav;

			}

		}


	}

	.products {
		padding: 250px 0 100px;

	}

	.product-card {
		a {
			position: relative;
			width: 100%;
			height: 100%;

			.link-card {
				width: 100%;

			}

		}

	}

	.card {
		position: relative;
		text-align: center;

		h1, h2, p {
			text-align: left;

		}

	}

}
