@import "variables";
@import "mixins";
@import "grid";
@import "nav.scss";
@import "contact-sections.scss";
@import "footer.scss";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	@include remove-margin;
}

body {
	background-color: $white;
}

/* Grid Override */
[class*='col-']:last-of-type {
	padding: 0 10px;
	min-height: 1px;
}

.message {
	//Type
	@include main-types;
	//Structure
	margin-top: 50px;
	padding: 75px 0 300px 0;
	//Form Type
	@include form-types;

}