/* Font Stacks */
/* Font Weights */
/* Media Query Screen Sizes */
/* Colors */
/* Text Sizing */
/* Grid System */
/* Spacers */
/* Animation Timing */
/* Heros */
/* Product Cards */
/* Global Mixins   - - - - - - - - - */
/* Navigation Hover Transitions */
/* SVG Background Color Transitions */
/* SVG Clipping Mask */
/* Background-color Hover Transitions */
/* Margin Removal */
/* Main Navigation */
/* Hero Section */
/* Contact Section */
/* Animation Keyframes */
@-webkit-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-moz-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-o-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
/* Type */
/* Footer */
/* Index Mixins   - - - - - - - - - */
/* Hero Background Gradient */
/* Slider Type */
/* Product Mixins - - - - - - - - - */
/* Product Navigation */
/* Feature List */
/* Product Category Title */
/* Product Cards */
/* Product Cards */
/* Services - - - - - - - - - */
/* Brand Section */
/* Feature Sections */
/* About Us - - - - - - - - - */
/* Contact Us - - - - - - - - - */
/* Error - - - - - - - - - */
/* Message Form - - - - - - - - - */
/* Grid System */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Wrapper */
.wrapper {
  max-width: 960px;
  margin: 0 auto; }

/* Container Rules */
.container {
  width: 100%;
  max-width: 960px;
  box-sizing: border-box; }

/* Row Rules */
.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

/* Column Rules */
[class*='col-'] {
  float: left;
  padding: 0 10px;
  min-height: 1px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

@media screen and (max-width: 1020px) {
  .wrapper {
    width: 100%;
    padding: 0 25px; }

  .col-4 {
    width: 100%; } }
/* Font Stacks */
/* Font Weights */
/* Media Query Screen Sizes */
/* Colors */
/* Text Sizing */
/* Grid System */
/* Spacers */
/* Animation Timing */
/* Heros */
/* Product Cards */
/* Global Mixins   - - - - - - - - - */
/* Navigation Hover Transitions */
/* SVG Background Color Transitions */
/* SVG Clipping Mask */
/* Background-color Hover Transitions */
/* Margin Removal */
/* Main Navigation */
/* Hero Section */
/* Contact Section */
/* Animation Keyframes */
@-webkit-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-moz-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-o-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
/* Type */
/* Footer */
/* Index Mixins   - - - - - - - - - */
/* Hero Background Gradient */
/* Slider Type */
/* Product Mixins - - - - - - - - - */
/* Product Navigation */
/* Feature List */
/* Product Category Title */
/* Product Cards */
/* Product Cards */
/* Services - - - - - - - - - */
/* Brand Section */
/* Feature Sections */
/* About Us - - - - - - - - - */
/* Contact Us - - - - - - - - - */
/* Error - - - - - - - - - */
/* Message Form - - - - - - - - - */
/* Navigation */
header {
  position: fixed;
  display: block;
  top: 0px;
  z-index: 2;
  width: 100%; }

.nav-bar {
  width: 100%;
  background-color: #ffffff; }
  .nav-bar nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid #dadada; }
  .nav-bar .logo-bar {
    display: inline-block; }
  .nav-bar #logo {
    width: 236px;
    height: 24px;
    -webkit-transition: background ease-in-out 0.25s;
    -moz-transition: background ease-in-out 0.25s;
    -o-transition: background ease-in-out 0.25s;
    transition: background ease-in-out 0.25s;
    -webkit-clip-path: url("../imagenes/logo/logo.svg");
    clip-path: url("../imagenes/logo/logo.svg");
    -webkit-mask: url("../imagenes/logo/logo.svg");
    mask: url("../imagenes/logo/logo.svg");
    background: #4a4a4a; }
    .nav-bar #logo:hover {
      background: #000000; }
  .nav-bar ul {
    float: right;
    padding-top: 4px; }
  .nav-bar li {
    float: left;
    list-style: none;
    margin-left: 50px; }
    .nav-bar li a {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 14px;
      color: #969696;
      text-decoration: none;
      -webkit-transition: color ease-in-out 0.25s;
      -moz-transition: color ease-in-out 0.25s;
      -o-transition: color ease-in-out 0.25s;
      transition: color ease-in-out 0.25s; }
      .nav-bar li a:hover {
        color: #0080ff; }
      .nav-bar li a.active {
        color: #0080ff; }

@media screen and (max-width: 1020px) {
  .nav-bar {
    margin: 0;
    border-bottom: 1px solid #dadada; }

  .nav-bar nav {
    max-width: 100%;
    padding: 0 !important;
    text-align: center !important;
    border: none;
    overflow: auto; }
    .nav-bar nav .logo-bar {
      display: block;
      overflow: hidden;
      width: 100%;
      padding: 20px 0 20px !important;
      border-bottom: 1px solid #dadada; }
    .nav-bar nav .logo {
      position: static !important;
      padding: 0 auto; }
    .nav-bar nav #logo {
      position: static;
      padding: 0 auto; }
    .nav-bar nav ul {
      display: block;
      overflow: hidden;
      float: none !important;
      text-align: center !important;
      margin: 15px 0;
      padding: 0; }
    .nav-bar nav li {
      float: none !important;
      display: inline;
      padding: 10px 30px;
      margin: 0 !important; }
    .nav-bar nav a {
      display: inline-block;
      text-align: center;
      font-size: 16px; } }
/* Font Stacks */
/* Font Weights */
/* Media Query Screen Sizes */
/* Colors */
/* Text Sizing */
/* Grid System */
/* Spacers */
/* Animation Timing */
/* Heros */
/* Product Cards */
/* Global Mixins   - - - - - - - - - */
/* Navigation Hover Transitions */
/* SVG Background Color Transitions */
/* SVG Clipping Mask */
/* Background-color Hover Transitions */
/* Margin Removal */
/* Main Navigation */
/* Hero Section */
/* Contact Section */
/* Animation Keyframes */
@-webkit-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-moz-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-o-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
/* Type */
/* Footer */
/* Index Mixins   - - - - - - - - - */
/* Hero Background Gradient */
/* Slider Type */
/* Product Mixins - - - - - - - - - */
/* Product Navigation */
/* Feature List */
/* Product Category Title */
/* Product Cards */
/* Product Cards */
/* Services - - - - - - - - - */
/* Brand Section */
/* Feature Sections */
/* About Us - - - - - - - - - */
/* Contact Us - - - - - - - - - */
/* Error - - - - - - - - - */
/* Message Form - - - - - - - - - */
/* Contact Sections */
article.contact {
  background-color: #ffffff; }

.border {
  border-top: 1px solid #eaeaea; }

#hours, #contact, #address {
  padding: 100px 25px;
  text-align: center; }
  #hours h2, #contact h2, #address h2 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 0.225px;
    line-height: 18px;
    color: #212121;
    padding: 15px 0 7.5px 0; }
  #hours p, #contact p, #address p {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 0.175px;
    line-height: 1.5;
    color: #4a4a4a;
    padding-bottom: 10px; }
  #hours #status, #contact #status, #address #status {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.175px;
    line-height: 14px; }
  #hours .green, #contact .green, #address .green {
    color: #25c315; }
  #hours .red, #contact .red, #address .red {
    color: #d0021b; }
  #hours .orange, #contact .orange, #address .orange {
    color: #f5a623; }
  #hours a, #contact a, #address a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.175px;
    line-height: 14px;
    text-decoration: none; }
    #hours a.call, #contact a.call, #address a.call {
      color: #25c315;
      -webkit-transition: color ease-in-out 0.25s;
      -moz-transition: color ease-in-out 0.25s;
      -o-transition: color ease-in-out 0.25s;
      transition: color ease-in-out 0.25s; }
      #hours a.call:hover, #contact a.call:hover, #address a.call:hover {
        color: #008027; }
    #hours a.arrow, #contact a.arrow, #address a.arrow {
      color: #0080ff;
      -webkit-transition: color ease-in-out 0.25s;
      -moz-transition: color ease-in-out 0.25s;
      -o-transition: color ease-in-out 0.25s;
      transition: color ease-in-out 0.25s; }
      #hours a.arrow:hover, #contact a.arrow:hover, #address a.arrow:hover {
        color: #0061c1; }
      #hours a.arrow:after, #contact a.arrow:after, #address a.arrow:after {
        position: relative;
        display: inline-block;
        width: 8px;
        height: 8px;
        top: 0;
        margin-left: 2px;
        content: '';
        background: #0080ff;
        -webkit-transition: background ease-in-out 0.25s;
        -moz-transition: background ease-in-out 0.25s;
        -o-transition: background ease-in-out 0.25s;
        transition: background ease-in-out 0.25s;
        -webkit-clip-path: url("../imagenes/test.svg");
        clip-path: url("../imagenes/test.svg");
        -webkit-mask: url("../imagenes/test.svg");
        mask: url("../imagenes/test.svg"); }
      #hours a.arrow:hover:after, #contact a.arrow:hover:after, #address a.arrow:hover:after {
        background: #0061c1; }
  #hours .store-status, #contact .store-status, #address .store-status {
    position: relative; }
  #hours #status-indicator, #contact #status-indicator, #address #status-indicator {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 2.5px;
    width: 5px;
    height: 5px;
    border-radius: 2.5px; }
  #hours .green-status, #contact .green-status, #address .green-status {
    background-color: #25c315;
    -webkit-animation: open-status 2s infinite;
    -moz-animation: open-status 2s infinite;
    -o-animation: open-status 2s infinite;
    animation: open-status 2s infinite; }
  #hours .red-status, #contact .red-status, #address .red-status {
    background-color: #d0021b; }
  #hours .orange-status, #contact .orange-status, #address .orange-status {
    background-color: #f5a623; }

#horarios {
  width: 23px;
  height: 31px; }

#marcanos {
  width: 17px;
  height: 31px; }

#direccion {
  width: 21px;
  height: 31px; }

#mensajes {
  width: 31px;
  height: 21px;
  margin-top: 10px; }

@media screen and (max-width: 1020px) {
  #hours, #contact, #address {
    padding: 50px 0; }

  #hours {
    padding-top: 100px; }

  #address {
    padding-bottom: 100px; } }
/* Font Stacks */
/* Font Weights */
/* Media Query Screen Sizes */
/* Colors */
/* Text Sizing */
/* Grid System */
/* Spacers */
/* Animation Timing */
/* Heros */
/* Product Cards */
/* Global Mixins   - - - - - - - - - */
/* Navigation Hover Transitions */
/* SVG Background Color Transitions */
/* SVG Clipping Mask */
/* Background-color Hover Transitions */
/* Margin Removal */
/* Main Navigation */
/* Hero Section */
/* Contact Section */
/* Animation Keyframes */
@-webkit-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-moz-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@-o-keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
@keyframes open-status {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.25; } }
/* Type */
/* Footer */
/* Index Mixins   - - - - - - - - - */
/* Hero Background Gradient */
/* Slider Type */
/* Product Mixins - - - - - - - - - */
/* Product Navigation */
/* Feature List */
/* Product Category Title */
/* Product Cards */
/* Product Cards */
/* Services - - - - - - - - - */
/* Brand Section */
/* Feature Sections */
/* About Us - - - - - - - - - */
/* Contact Us - - - - - - - - - */
/* Error - - - - - - - - - */
/* Message Form - - - - - - - - - */
/* Footer */
.footer {
  width: 100%; }
  .footer footer {
    padding: 7.5px 0;
    margin-bottom: 35px;
    border-top: 1px solid #eaeaea; }
    .footer footer p {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 0.15px;
      line-height: 12px;
      color: #b3b3b3; }
    .footer footer a {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 0.15px;
      line-height: 12px;
      text-decoration: none;
      color: #4a4a4a;
      -webkit-transition: color ease-in-out 0.25s;
      -moz-transition: color ease-in-out 0.25s;
      -o-transition: color ease-in-out 0.25s;
      transition: color ease-in-out 0.25s; }
      .footer footer a:hover {
        color: #0080ff; }
    .footer footer a.author {
      color: #b3b3b3;
      -webkit-transition: color ease-in-out 0.25s;
      -moz-transition: color ease-in-out 0.25s;
      -o-transition: color ease-in-out 0.25s;
      transition: color ease-in-out 0.25s; }
      .footer footer a.author:hover {
        color: #0080ff; }
    .footer footer .legal {
      float: right; }
    .footer footer ul {
      position: relative; }
    .footer footer li {
      float: left;
      list-style: none;
      margin-left: 15px; }
    .footer footer .separator {
      width: 1px;
      height: 19px;
      background-color: #dadada; }
    .footer footer .copyright {
      position: relative;
      top: 15px; }

@media screen and (max-width: 1020px) {
  footer {
    padding: 7.5px 0 !important;
    margin-bottom: 10px; }
    footer .footer {
      overflow: hidden; }

  .copyright {
    display: inline-block;
    float: left; }

  .legal {
    float: right; }
    .legal ul {
      float: right;
      padding-top: 10px; }
    .legal li {
      display: inline-block;
      padding: 0;
      margin-left: 15px !important; }
      .legal li a {
        padding: 0; }
      .legal li .separator {
        position: relative; } }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

body {
  background-color: #ffffff; }

/* Grid Override */
[class*='col-']:last-of-type {
  padding: 0 10px;
  min-height: 1px; }

.message {
  margin-top: 50px;
  padding: 75px 0 300px 0; }
  .message h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 0.45px;
    line-height: 36px;
    color: #212121;
    margin-bottom: 15px; }
  .message h3 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 0.275px;
    line-height: 1.5;
    color: #4a4a4a;
    margin-bottom: 45px; }
  .message input, .message textarea {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 16px;
    color: #4a4a4a;
    width: 100%;
    padding: 12px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    outline: none;
    -webkit-transition: border ease-in-out 0.25s;
    -moz-transition: border ease-in-out 0.25s;
    -o-transition: border ease-in-out 0.25s;
    transition: border ease-in-out 0.25s; }
    .message input:focus, .message textarea:focus {
      border: 1px solid #0080ff; }
  .message input {
    height: 42px;
    margin-bottom: 30px; }
  .message textarea {
    height: 200px;
    margin-bottom: 20px; }
  .message *::-webkit-input-placeholder {
    color: #b3b3b3; }
  .message *:-mox-placeholder {
    color: #b3b3b3; }
  .message *::-moz-placeholder {
    color: #b3b3b3; }
  .message *:-ms-input-placeholder {
    color: #b3b3b3; }
  .message button {
    text-align: left;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer; }
  .message .arrow {
    position: relative;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #0080ff;
    letter-spacing: 0.2px;
    line-height: 16px;
    text-decoration: none;
    -webkit-transition: color ease-in-out 0.25s;
    -moz-transition: color ease-in-out 0.25s;
    -o-transition: color ease-in-out 0.25s;
    transition: color ease-in-out 0.25s; }
    .message .arrow:hover {
      color: #0061c1; }
    .message .arrow:after {
      position: relative;
      display: inline-block;
      width: 10px;
      height: 10px;
      top: 1px;
      margin-left: 4px;
      content: '';
      background: #0080ff;
      -webkit-transition: background ease-in-out 0.25s;
      -moz-transition: background ease-in-out 0.25s;
      -o-transition: background ease-in-out 0.25s;
      transition: background ease-in-out 0.25s;
      -webkit-clip-path: url("../imagenes/test.svg");
      clip-path: url("../imagenes/test.svg");
      -webkit-mask: url("../imagenes/test.svg");
      mask: url("../imagenes/test.svg"); }
    .message .arrow:hover:after {
      background: #0061c1; }
  .message #label {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.15px;
    line-height: 12px;
    color: #969696;
    margin-bottom: 7.5px;
    -webkit-transition: color ease-in-out 0.25s;
    -moz-transition: color ease-in-out 0.25s;
    -o-transition: color ease-in-out 0.25s;
    transition: color ease-in-out 0.25s; }

#success, #error {
  margin-top: 50px;
  padding: 200px 200px;
  text-align: center;
  display: none; }
  #success h1, #error h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 0.45px;
    line-height: 36px;
    color: #212121;
    margin-bottom: 15px; }
  #success h3, #error h3 {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 0.275px;
    line-height: 1.5;
    color: #4a4a4a;
    margin-bottom: 25px; }
  #success a, #error a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 16px;
    text-decoration: none; }
    #success a.arrow, #error a.arrow {
      color: #0080ff;
      -webkit-transition: color ease-in-out 0.25s;
      -moz-transition: color ease-in-out 0.25s;
      -o-transition: color ease-in-out 0.25s;
      transition: color ease-in-out 0.25s; }
      #success a.arrow:hover, #error a.arrow:hover {
        color: #0061c1; }
      #success a.arrow:after, #error a.arrow:after {
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        top: 1px;
        margin-left: 2px;
        content: '';
        background: #0080ff;
        -webkit-transition: background ease-in-out 0.25s;
        -moz-transition: background ease-in-out 0.25s;
        -o-transition: background ease-in-out 0.25s;
        transition: background ease-in-out 0.25s;
        -webkit-clip-path: url("../imagenes/test.svg");
        clip-path: url("../imagenes/test.svg");
        -webkit-mask: url("../imagenes/test.svg");
        mask: url("../imagenes/test.svg"); }
      #success a.arrow:hover:after, #error a.arrow:hover:after {
        background: #0061c1; }
  #success ul, #error ul {
    position: relative;
    top: 16px;
    padding: 0; }
  #success li, #error li {
    display: inline-block;
    list-style: none; }

#icon {
  width: 61px;
  height: 61px;
  margin-bottom: 35px; }

/*# sourceMappingURL=mensaje.css.map */
