@import "variables";
@import "mixins";

/* Navigation */
.nav-bar {
	width: 100%;
	background-color: $white;
	position: fixed;
	display: block;
	padding-bottom: 25px;
	top: 0px;
	z-index: 2;

	nav {
		max-width: 960px;
		margin: 0 auto;
		padding: 0 10px 25px;
		border-bottom: 1px solid $separator-gray;

	}

	.logo-bar {
		display: inline-block;

	}

	#logo {
		position: relative;
		top: 13px;
		width: 236px;
		height: 24px;
		@include background-color-transition;
		@include svg-clipping-mask('../imagenes/logo/logo.svg');
		background: $text-gray;

		&:hover {
			background: $black;

		}

	}

	ul {
		position: relative;
		top: 16px;
		float: right;

	}

	li {
		float: left;
		list-style: none;
		margin-left: 50px;
		@include nav-link;

	}

}

//Media Queries
@media screen and (max-width: $desktop) {

		.nav-bar {
			margin: 0;
			border-bottom: 1px solid $separator-gray;

		}

		.nav-bar nav {
			max-width: 100%;
			padding: 0 !important;
			text-align: center !important;
			border: none;

			.logo-bar {
				display: block;
				overflow: hidden;
				width: 100%;
				padding: 20px 0 20px !important;
				border-bottom: 1px solid $separator-gray;

			}

			.logo {
				position: static !important;
				padding: 0 auto;

			}


			#logo {
				position: static;
				padding: 0 auto;

			}

			ul {
				display: block;
				overflow: hidden;
				float: none !important;
				text-align: center !important;
				margin-bottom: 8px;
				padding: 0;

			}

			li {
				float: none !important;
				display: inline;
				padding: 10px 30px;
				margin: 0 !important;

			}

			a {
				display: inline-block;
				text-align: center;
				font-size: $size-16;


			}

		}

}
