@import "variables";
@import "mixins";

/* Navigation */
.nav-bar {
	width: 100%;
	background-color: $white;
	position: fixed;
	display: block;
	padding-bottom: 25px;
	top: 0px;
	border-bottom: 1px solid $separator-gray;
	z-index: 2;

	nav {
		max-width: 960px;
		margin: 0 auto;
		padding: 0 10px;
	}

	#logo {
		position: relative;
		top: 13px;
		width: 236px;
		height: 24px;
		@include background-color-transition;
		@include svg-clipping-mask('../imagenes/logo/logo.svg');
		background: $text-gray;

		&:hover {
			background: $black;

		}

	}

	ul {
		position: relative;
		top: 16px;
		float: right;
	}

	li {
		float: left;
		list-style: none;
		margin-left: 50px;
		@include nav-link;
	}
}