@import "variables";
@import "mixins";

/* Navigation */
header {
	position: fixed;
	display: block;
	top: 0px;
	z-index: 2;
	width: 100%;

}

.nav-bar {
	width: 100%;
	background-color: $white;

	nav {
		max-width: 960px;
		margin: 0 auto;
		padding: 15px 0;
		border-bottom: 1px solid $separator-gray;

	}

	.logo-bar {
		display: inline-block;

	}

	#logo {
		width: 236px;
		height: 24px;
		@include background-color-transition;
		@include svg-clipping-mask('../imagenes/logo/logo.svg');
		background: $text-gray;

		&:hover {
			background: $black;

		}

	}

	ul {
		float: right;
		padding-top: 4px;

	}

	li {
		float: left;
		list-style: none;
		margin-left: 50px;
		@include nav-link;

	}

}

//Media Queries
@media screen and (max-width: $desktop) {

		.nav-bar {
			margin: 0;
			border-bottom: 1px solid $separator-gray;

		}

		.nav-bar nav {
			max-width: 100%;
			padding: 0 !important;
			text-align: center !important;
			border: none;
			overflow: auto;

			.logo-bar {
				display: block;
				overflow: hidden;
				width: 100%;
				padding: 20px 0 20px !important;
				border-bottom: 1px solid $separator-gray;

			}

			.logo {
				position: static !important;
				padding: 0 auto;

			}


			#logo {
				position: static;
				padding: 0 auto;

			}

			ul {
				display: block;
				overflow: hidden;
				float: none !important;
				text-align: center !important;
				padding: 15px 0 !important;

			}

			li {
				float: none !important;
				display: inline;
				padding: 10px 30px;
				margin: 0 !important;

			}

			a {
				display: inline-block;
				text-align: center;
				font-size: $size-16;


			}

		}

}

/* Mobile Version - - - - - - - - - */
@media screen and (max-width: $mobile) {
	//Scrollable Navigation Bar
	.scroll-bar {
		display: block;
		position: relative;
		overflow: scroll;

		ul {
			display: block;
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
			text-align: center;
			-webkit-overflow-scrolling: touch;
			padding-right: 25px;

			&::-webkit-scrollbar {
				display: none;

			}

		}

	}

	.white-gradient {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 50px;
		@include white-gradient;

	}

}
