@import "variables";
@import "mixins";
@import "grid";
@import "nav.scss";
@import "contact-sections";
@import "footer.scss";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

*, *:before, *:after {
	@include remove-margin;

}

body {
	// Imagery
	background-color: $white;

}

.content {
	// Structure
	text-align: center;
	padding: 175px 0 50px 0;

	.title {
			//Type
			@include title;
			//Structure
			padding: 0 280px;
			margin-bottom: 75px;

	}

}

/* About Us - - - - - - - - - */
//Grid
.gc {
	//Structure
	width: 100%;
	max-width: 960px;
	box-sizing: border-box;

}

.gr:before, .gr:after {
	//Structure
	content: "";
	display: table;
	clear: both;

}

[class*='gc-'] {
	//Structure
	float: left;
	padding: 0 10px;
	min-height: 1px;

}

.gc-4 {
	width: 33.33%;

}

.half:nth-child(1) {
	padding-right: 10px;

}

.half:nth-child(2) {
	padding-left: 10px;

}

.half {
	float: left;
	width: 50%;

	img {
		padding: 0 !important;

	}

}

.gc-8 {
	width: 66.66%;

}

.about-us {
	// Structure
	padding: 0 0 125px 0;
	@include about-us;

	.gallery {
		//Structure
		overflow: hidden;
		max-width: 960px;
		margin: 0 auto;

		.scroll-area {
			//Structure
			overflow: hidden;
			padding-bottom: 75px;

			.image-1, .image-2, .image-3, .image-4 {
				width: 100%;
				height: 100%;

			}

			.image-2 {
				//Structure
				margin-bottom: 15px;
				
			}

		}

	}

}

.construrama {
	//Structure
	text-align: center;
	padding: 125px 0;
	background-color: $gradient-gray;

	.title {
		//Type
		@include title;
		//Structure
		padding: 0 280px;
		margin-bottom: 75px;

	}

	img {
		//Structure
		margin-bottom: 125px;

	}

}

.construrama-info {
	//Type
	text-align: left;
	@include about-us;

}

/* Tablet Version */
@media screen and (max-width: $desktop) {
	//Grid
	.col-4 {
		width: 33.33%;

	}

	.gallery {
		width: 100%;
		overflow: scroll;

		.scroll-area {
			padding: 0 25px;
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;

		}

		.scroll-area::-webkit-scrollbar {
			display: none;

		}

	}

	.content {
		// Structure
		padding: 250px 0 50px 0;

		.title {
				//Type
				@include title;
				//Structure
				padding: 0 25%;
				margin-bottom: 75px;

		}

	}

}
