@import "variables";
@import "mixins";
@import "grid";
@import "nav.scss";
@import "contact-sections";
@import "footer.scss";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

*, *:before, *:after {
	@include remove-margin;

}

body {
	// Imagery
	background-color: $white;

}

.content {
	// Structure
	text-align: center;
	padding: 175px 0 50px 0;

	.title {
			//Type
			@include title;
			//Structure
			padding: 0 280px;
			margin-bottom: 75px;

	}

}

/* About Us - - - - - - - - - */
.about-us {
	// Structure
	padding: 0 0 125px 0;
	@include about-us;

	.gallery {
		//Structure
		overflow: hidden;
		max-width: 960px;
		margin: 0 auto;

		.scroll-area {
			//Structure
			overflow: hidden;
			padding-bottom: 75px;

		}

		//Images
		img {
			//Structure
			float: left;

		}

		.image-1 {
			//Structure
			padding-right: 10px;

		}

		.image-2 {
			//Structure
			padding-left: 10px;
			padding-bottom: 10px;

		}

		.image-3 {
			//Structure
			padding-top: 10px;
			padding-left: 10px;

		}

		.image-4 {
			//Structure
			padding-top: 10px;
			padding-left: 20px;

		}

	}

}

.construrama {
	//Structure
	text-align: center;
	padding: 125px 0;
	background-color: $gradient-gray;

	.title {
		//Type
		@include title;
		//Structure
		padding: 0 280px;
		margin-bottom: 75px;

	}

	img {
		//Structure
		margin-bottom: 125px;

	}

}

.construrama-info {
	//Type
	text-align: left;
	@include about-us;

}

/* Tablet Version */
@media screen and (max-width: $desktop) {
	//Grid
	.col-4 {
		width: 33.33%;

	}

	.gallery {
		width: 100%;
		overflow: scroll;

		.scroll-area {
			padding-left: 25px;
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;

		}

		.scroll-area::-webkit-scrollbar {
			display: none;

		}

	}

	.content {
		// Structure
		padding: 250px 0 50px 0;

		.title {
				//Type
				@include title;
				//Structure
				padding: 0 280px;
				margin-bottom: 75px;

		}

	}

}
