@import "variables";
@import "mixins";
@import "grid";
@import "nav.scss";
@import "contact-sections";
@import "footer.scss";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

*, *:before, *:after {
	@include remove-margin;

}

body {
	// Imagery
	background-color: $white;

}

/* Hero Section */
.hero {
	// Structure
	height: $hero-height;
	// Imagery
	background-image: url('../imagenes/headers/empresa.jpg');
	background-position: 50% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	// Typography
	@include hero;

}

.content {
	// Structure
	text-align: center;
	padding: $content-padding;

}

/* About Us - - - - - - - - - */
.about-us {
	// Structure
	padding: 125px 0;
	@include about-us;

	.gallery {
		padding: 0 10px;

		img {
			float: left;

		}

		.image-1 {
			margin-right: 20px;
			margin-bottom: 20px;

		}

		.image-2 {
			margin-bottom: 20px;

		}

		.image-3 {
			margin-right: 20px;

		}

	}

}

.construrama {
	//Structure
	text-align: center;
	padding: 125px 0;
	@include standard-gradient;

	.title {
		//Type
		@include title;
		//Structure
		padding: 0 280px;
		margin-bottom: 75px;

	}

	img {
		//Structure
		margin-bottom: 125px;

	}

}

.construrama-info {
	//Type
	text-align: left;
	@include about-us;

}