@import "variables";
@import "mixins";
@import "grid";
@import "nav";
@import "contact-sections";
@import "footer";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

*, *:before, *:after {
	@include remove-margin;

}

body {
	// Imagery
	background-color: $white;

}

/* Hero Section */
.hero {
	// Structure
	height: $hero-height;
	// Imagery
	background-image: url('../imagenes/headers/mayoreo.jpg');
	background-repeat: no-repeat;
	background-position: center;
	// Typography
	@include hero;

}

.content {
	// Structure
	text-align: center;
	padding: $content-padding;

}

/* Brands Section */
.brands {
	padding: 75px 0;
	text-align: center;
	@include brands;

}

/* Features Sections */
.features {
	height: 415px;
	padding: 165px 0;
	@include features;

}

#precios-de-fabrica {
	color: $white;
	background-image: url('../imagenes/servicios/mayoreo/precios-de-fabrica.jpg');
}

#planes-de-credito {
	background-image: url('../imagenes/servicios/mayoreo/planes-de-credito.jpg');
}

#entregas-gratuitas {
	color: $white;
	background-image: url('../imagenes/servicios/mayoreo/entregas-gratuitas.jpg');
}