@import "variables";
@import "mixins";
@import "grid";
@import "nav";
@import "contact-sections";
@import "footer";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

*, *:before, *:after {
	@include remove-margin;

}

body {
	// Imagery
	background-color: $white;

}

/* Hero Section */
.hero {
	// Structure
	height: $hero-height;
	// Typography
	@include hero;

}

#mayoreo {
	// Imagery
	background-image: url('../imagenes/headers/mayoreo.jpg');
	background-position: 50% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#menudeo {
	// Imagery
	background-image: url('../imagenes/headers/menudeo.jpg');
	background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.content {
	// Structure
	text-align: center;
	padding: $content-padding;

}

/* Brands Section */
.brands {
	padding: 75px 0;
	text-align: center;
	@include brands;

}

/* Features Sections */
.features {
	height: 415px;
	padding: 165px 0;
	@include features;

}

#precios-de-fabrica {
	color: $white;
	// Imagery
	background-image: url('../imagenes/servicios/mayoreo/precios-de-fabrica.jpg');
	background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#planes-de-credito {
	// Imagery
	background-image: url('../imagenes/servicios/mayoreo/planes-de-credito.jpg');
	background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#entregas-gratuitas {
	color: $white;
	// Imagery
	background-image: url('../imagenes/servicios/mayoreo/entregas-gratuitas.jpg');
	background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#precios-inmejorables {
	color: $white;
	// Imagery
	background-image: url('../imagenes/servicios/menudeo/precios-inmejorables.jpg');
	background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#formas-de-credito {
	// Imagery
	background-image: url('../imagenes/servicios/menudeo/formas-de-credito.jpg');
	background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#asesoria-de-materiales {
	color: $white;
	//Imagery
	background-image: url('../imagenes/servicios/menudeo/asesoria-de-materiales.jpg');
	background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#entregas-a-domicilio {
	// Imagery
	background-image: url('../imagenes/servicios/menudeo/entregas-gratuitas.jpg');
	background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

@media screen and (max-width: $tablet) {
	/* Hero Section */
	.hero {
		// Structure
		height: $hero-height;
		margin-top: 75px;
		// Typography
		p {
			padding: 0 100px;
		}

	}

	/* Brands Section */
	.brands {
		padding: 75px 0;
		text-align: center;
		p {
			padding: 0 150px;

		}

		.col-4 {
			width: 50%;

		}

	}

	/* Features Sections */
	.features {
		height: 415px;
		padding: 165px 0;
		text-align: center;

		p {
			padding: 0 185px;

		}

	}

}

@media screen and (max-width: $large-mobile) {
	.content {
		padding: 135px 0;

	}

	.brands {

		p {
			//Structure
			padding: 0;

		}

		img {
			//Structure
			width: 100%;

		}

	}

	.features {

		p {
			//Structure
			padding: 0 25px;

		}

	}

}
