/* Layout */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  padding: 0 25px;
}
.wrapper.image {
  padding: 0;
}
.wrapper.content {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.ib { display: inline-block; }
.auto { width: auto; }
.r { position: relative; }
.ws { white-space: nowrap; }
.oa { overflow: auto; }
.ov { overflow: visible; }
/* Spacing */
.m0 { margin: 0; }
.mt10 { margin-top: 1.0rem; }
.mb05 { margin-bottom: 0.5rem; }
.mb10 { margin-bottom: 1.0rem; }
.mb15 { margin-bottom: 1.5rem; }
.mb20 { margin-bottom: 2.0rem; }
.mb25 { margin-bottom: 2.5rem; }
.mb30 { margin-bottom: 3.0rem; }
.mb35 { margin-bottom: 3.5rem; }
.mb40 { margin-bottom: 4.0rem; }
.mb45 { margin-bottom: 4.5rem; }
.mb50 { margin-bottom: 5.0rem; }
/* Add remaining / necessary margins */
.p0 { padding: 0; }
.pv15 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.pv30 { padding-top: 3.0rem; padding-bottom: 3.0rem; }
.pv40 { padding-top: 4.0rem; padding-bottom:  4.0rem; }
.pv50 { padding-top: 5.0rem; padding-bottom:  5.0rem; }
.pb03 { padding-bottom: 0.25rem; }
.pb05 { padding-bottom: 0.5rem; }
.pb10 { padding-bottom: 1.0rem; }
.pb15 { padding-bottom: 1.5rem; }
.pb20 { padding-bottom: 2.0rem; }
.pb25 { padding-bottom: 2.5rem; }
.pb30 { padding-bottom: 3.0rem; }
.pb35 { padding-bottom: 3.5rem; }
.pb40 { padding-bottom: 4.0rem; }
.pb45 { padding-bottom: 4.5rem; }
.pb50 { padding-bottom: 5.0rem; }
.pl15 { padding-left: 1.5rem; }
/* Typographic Variables */
.d-center, .m-center { text-align: center; }
/* Typographies */
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.75rem; /* 28px */
  line-height: 2.125rem; /* 34px */
  letter-spacing: 0.03125rem; /* 0.5px */
  color: #212121;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.125rem;
  letter-spacing: 0.05rem;
  color: #212121;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  color: #212121;
}
.service-sections h3 {
  font-weight: 400;
}
h4, a.button {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #969696;
}
.service h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #212121;
}
a.button {
  font-style: normal;
  color: white;
}
.product-card h4 {
  font-weight: 400;
  font-style: normal;
  color: #212121;
}
h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 0.75rem; /* 12px */
  line-height: 1.125rem; /* 18px */
  letter-spacing: 0.075rem; /* 1.25px */
  text-transform: uppercase;
  color: #212121;
}
.product-card h5 {
  font-size: 0.625rem;
  color: #969696;
}
p, a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02rem; /* 0.32px */
}
p {
  font-weight: 300;
  color: #4a4a4a;
}
p.intro {
  font-style: italic;
}
p.status {
  font-weight: 400;
}
p.about {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.03rem;
  text-align: center;
}
.product-card p {
  font-size: 0.875rem;
}
.product-card .titles p {
  font-weight: 400;
}
.product-card .descriptions p {
  font-weight: 300;
}
sup {
  vertical-align: top;
  font-size: 0.75em;
}
.green {
  color: #25c315;
}
.blue {
  color: #0080ff;
}
.gray {
  color: #212121;
}
p a {
  font-weight: 300;
}
a {
  font-weight: 400;
  text-decoration: none;
  color: #0080ff;
}
nav ul li a, .links ul li a, .copyright ul li p, #current-status p, .product-nav ul li a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.875rem; /* 14px */
  line-height: 0.875rem; /* 14px */
  letter-spacing: 0.03125rem; /* 0.5px */
  text-decoration: none;
  color: #969696;
}
nav ul li a:active, nav ul li a.active {
  color: #0080ff;
}
#current-status a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 0.75rem; /* 12px */
  line-height: 0.75rem; /* 14px */
  letter-spacing: 0.03125rem; /* 0.5px */
}
.sub-nav p.pseudo-link {
  font-weight: 400;
  color: #0080ff;
}
.sub-nav p.pseudo-link.open {
  color: #25c315;
}
.sub-nav p.pseudo-link.gray {
  color: #212121;
}
#product-nav ul li a.active {
  color: #0080ff;
}
.sub-nav a:active {
  background-color: #f2f8ff;
}
/* Borders */
.btg { border-top: 1px solid #eaeaea; }
.bbg { border-bottom: 1px solid #eaeaea; }
.blg { border-left: 1px solid #eaeaea; }
.brg { border-right: 1px solid #eaeaea; }
.sub-nav.bbn { border-bottom: none; }
/* Lists */
nav {
  overflow: none;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eaeaea;
}
footer {
    border-top: 1px solid #eaeaea;
}
nav ul, footer ul {
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li:first-child {
  float: left;
}
nav ul li:last-child {
  float: right;
}
.links ul li, .copyright ul li {
  padding: 1.5rem 0;
}
.links ul li {
  border-bottom: 1px solid #eaeaea;
}
.links ul li:active {
  background-color: #fbfbfb;
}
.copyright ul li {
  background-color: #fbfbfb;
}
.copyright ul li p {
  color: #c9c9c9;
}
ul.bullet {
  display: block;
  padding-left: 1.0rem;
  list-style: none;
}
ul.bullet li {
  position: relative;
  margin-bottom: 7.5px;
  padding-left: 15px;
}
ul.bullet li:before {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 5px;
  height: 5px;
  content: "";
  background-image: url('../images/icons/bullet.png');
  background-size: contain;
}
ul.service {
  display: block;
  padding-left: 15px;
}
ul.service li {
  list-style: none;
}
ul.service li:before {
  content: '・';
  position: relative;
  top: 1px;
  right: 5px;
  margin-right: 5px;
  display: inline-block;
  height: 8px; width: 8px;
  /*background-image: url('../images/icons/plus.png');
  background-size: contain;*/
}
ul.service li::before {
  color: #0080ff;
}
ul.service h4 {
  display: inline-block;
  font-weight: 400;
  color: #212121;
}
ul.service li p {
  padding-left: 17px;
}
/* Navigation Menu Logo */
#logo {
  display: none;
}
#current-status {
  display: none;
}
/* Imagery */
.hero {
  max-width: 100%;
  height: 350px;
}
.img {
  max-width: 100%;
  height: 350px;
}
#truck, #bobcat, #unloading, #camper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#truck { background-image: url('../images/about/truck-m.jpg'); }
#bobcat { background-image: url('../images/about/masterBobcat-m.jpg'); }
#unloading { background-image: url('../images/about/unloading-m.jpg'); }
#camper { background-image: url('../images/contact/happyCamper-m.jpg'); }
/* Product Navigation */
.wrapper.product-nav {
  padding-right: 0;
  padding-left: 0;
}
#product-nav {
  border-bottom: 1px solid #eaeaea;
}
#product-nav #title {
  display: none;
}
#product-nav ul {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  text-align: center;
  padding-right: 1.5rem;
  background-color: #fbfbfb;
}

#product-nav ul::-webkit-scrollbar, {
 display: none;
}
#product-nav ul li {
  display: inline-block;
  padding: 20px 25px;
  margin: 0;
  cursor: pointer;
}
span.open, span.lunch, span.closed {
  display: inline-block;
  position: relative;
  bottom: 3px;
  width: 5px;
  height: 5px;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
span.open  {
  background-color: #25c315;
}
span.lunch  {
  background-color: #f5a623;
}
span.closed  {
  background-color: #d0021b;
}
p.open {
  color: #25c315;
}
p.lunch, .sub-nav #location-status.pseudo-link.lunch {
  color: #f5a623;
}
p.closed, .sub-nav #location-status.pseudo-link.closed {
  color: #d0021b;
}
/* Notes and Warnings */
.note h4 {
  font-weight: 400;
  color: #0080ff;
}
.note p {
  color: #0080ff;
}
.note {
  background-color: #f1f8ff;
}
/* Product List + Cards */
.product-wrapper {
  padding-top: 1.5rem;
  min-height: 376px;
}
.product-list {
  display: block;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  padding: 0 25px;
}
.product-list::-webkit-scrollbar {
  display: none;
}
.product-card, .product-card.note {
  display: inline-block;
  margin: 0 1.5rem 1.5rem 0;
  padding: 1.5rem;
  width: 250px;
}
.product-card {
  border: 1px solid #eaeaea;
}
.product-card.note {
  overflow: none;
  height: 328px;
  border: none;
}
.test {
  height: 300px;
}
.product-card img {
  max-width: 100%;
  margin: 0 auto;
}
.product-card .details {
  display: block;
  overflow: auto;
}
.product-card .titles, .product-card .descriptions {
  float: left;
  width: 50%;
}
/* Sub Navigation */
.wrapper.sub-nav {
  padding-left: 0;
  padding-right: 0;
  border-bottom: none;
}
.sub-nav {
  display: block;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}
.icon {
  display: inline-block;
  width: 39px;
  height: 31px;
}
span.open {
  display: inline-block;
  position: relative;
  bottom: 3px;
  width: 5px;
  height: 5px;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
span.open {
  background-color: #25c315;
}
#products, #services, #contact, #hours, .contact-call, #address, .contact-message {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#products { background-image: url('../images/icons/productos.png'); }
#services { background-image: url('../images/icons/servicios.png'); }
#contact { background-image: url('../images/icons/contacto.png'); }
#hours { background-image: url('../images/icons/horarios.png'); }
.contact-call { background-image: url('../images/icons/marcanos.png'); }
.contact-message { background-image: url('../images/icons/mensaje.png'); }
#address { background-image: url('../images/icons/direccion.png'); }
/* Status Indicator */
span.status {
  display: inline-block;
  position: relative;
  top: -3px;
  width: 5px;
  height: 5px;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
span.status.green {
  background-color: #25c315;
}
/* Links and Arrows */
a.button {
  padding: 10px 15px;
  background-color: #0080ff;
  border: none;
}
span.arrow {
  content: "";
  position: relative;
  display: inline-block;
  margin: 0 0 0 4px;
  width: 10px;
  height: 10px;
  background-size: cover;
}
span.arrow.blue {
  top: 0.5px;
  background-image: url('../images/icons/blue-arrow.png');
}
span.arrow.green {
  top: -1px;
  background-image: url('../images/icons/green-arrow.png');
}
span.arrow.gray {
  top: 0.5px;
  background-image: url('../images/icons/gray-arrow.png');
}
/* Service Sections */
.service-sections {
  padding: 4.0rem 0;
}
#wholesale {
  border-bottom: 1px solid #eaeaea;
}
.dh { height: 0; border-right: none; }
/* Index Gallery */
.gallery-base {
  position: relative;
  height: 90vh; max-height: 515px;
  border-bottom: 1px solid #eaeaea;
}
#background {
  background-image: url('../images/gallery/background/background-m.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 10%;
}
.gallery-content {
  position: absolute;
  bottom: 7%; left: 25px;
  z-index: 2;
}
.ring-image, .cement-image, .steel-image {
  position: absolute;
  left: 0; right: 0;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}
.ring-image {
  top: 25px;
  width: 274px; height: 234px;
  background-image: url('../images/gallery/rings/rings-m.png');
}
.cement-image {
  top: 25px;
  width: 199px; height: 220px;
  background-image: url('../images/gallery/cement/cement-m.png');
}
.steel-image {
  top: 60px;
  width: 270px; height: 143px;
  background-image: url('../images/gallery/steel/steel-m.png');
}
.right-arrow, .left-arrow {
  position: absolute;
  z-index: 3;
  bottom: 37.5px;
  height: 20px; width: 20px;
  cursor: pointer;
  background-image: url('../images/icons/nav-arrow.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.right-arrow {
  right: 25px;
  transform: rotate(180deg);
}
.left-arrow {
  right: 100px;
}
/* About */
#about {
  background-image: url('../images/about/hero-m.jpg');
  background-position: center;
}
/* error.html */
.message {
  text-align: center;
  margin-top: 25%;
}
.error-icon {
  display: inline-block;
  width: 60px; height: 60px;
  background-image: url('../images/icons/error.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.message ul li:first-child {
  padding-bottom: 1.5rem;
}
/* Mobile Contact Button */
#button {
  position: fixed; z-index: 3;
  bottom: 10px; right: 10px;
  width: 50px; height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.email, .call {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
}
.call {
  background-image: url('../images/icons/call.png');
  background-size: 20px 20px, cover;
  background-color: #25c315;
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.email {
  background-image: url('../images/icons/email.png');
  background-size: 24px 15px, cover;
  background-color: #0080ff;
}
/* Keyframes */
@-webkit-keyframes fade-out { 0% { opacity: 1; }  100% { opacity: 0; } }
@-moz-keyframes fade-out { 0% { opacity: 1; }  100% { opacity: 0; } }
@-o-keyframes fade-out { 0% { opacity: 1; }  100% { opacity: 0; } }
@keyframes fade-out { 0% { opacity: 1; }  100% { opacity: 0; } }
@-webkit-keyframes fade-in { 0% { opacity: 0; transform: translateX(15px); }  100% { opacity: 1; transform: translateX(0px); } }
@-moz-keyframes fade-in { 0% { opacity: 0; transform: translateX(15px); }  100% { opacity: 1; transform: translateX(0px); } }
@-o-keyframes fade-in { 0% { opacity: 0; transform: translateX(15px); }  100% { opacity: 1; transform: translateX(0px); } }
@keyframes fade-in { 0% { opacity: 0; transform: translateX(15px); }  100% { opacity: 1; transform: translateX(0px); } }
@-webkit-keyframes i-fade-in { 0% { opacity: 0; transform: translateY(10px); }  100% { opacity: 1; transform: translateY(0px); } }
@-moz-keyframes i-fade-in { 0% { opacity: 0; transform: translateY(10px); }  100% { opacity: 1; transform: translateY(0px); } }
@-o-keyframes i-fade-in { 0% { opacity: 0; transform: translateY(10px); }  100% { opacity: 1; transform: translateY(0px); } }
@keyframes i-fade-in { 0% { opacity: 0; transform: translateY(10px); }  100% { opacity: 1; transform: translateY(0px); } }
@-webkit-keyframes c-fade-in { 0% { opacity: 0; }  100% { opacity: 1; } }
@-moz-keyframes c-fade-in { 0% { opacity: 0; }  100% { opacity: 1; } }
@-o-keyframes c-fade-in { 0% { opacity: 0; }  100% { opacity: 1; } }
@keyframes c-fade-in { 0% { opacity: 0; }  100% { opacity: 1; } }
/* Contact Button Fade-in */
@-webkit-keyframes button-fade-in {
	0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}
@-moz-keyframes button-fade-in {
	0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}
@-o-keyframes button-fade-in {
	0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}
@keyframes button-fade-in {
	0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}
/* Icon Fade-out */
@-webkit-keyframes button-fade-out {
	0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.5); }
}
@-moz-keyframes button-fade-out {
	0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.5); }
}
@-o-keyframes button-fade-out {
	0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.5); }
}
@keyframes button-fade-out {
	0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.5); }
}
/* Animations */
.fade-out, .g-fade-out {
  -webkit-animation: fade-out ease-in-out 0.5s both;
  -moz-animation: fade-out ease-in-out 0.5s both;
  -o-animation: fade-out ease-in-out 0.5s both;
  animation: fade-out ease-in-out 0.5s both;
}
.fade-in {
  -webkit-animation: fade-in cubic-bezier(0.25, 0.25, 0.45, 1) 0.75s both;
  -moz-animation: fade-in cubic-bezier(0.25, 0.25, 0.45, 1) 0.75s both;
  -o-animation: fade-in cubic-bezier(0.25, 0.25, 0.45, 1) 0.75s both;
  animation: fade-in cubic-bezier(0.25, 0.25, 0.45, 1) 0.75s both;
}
.g-fade-out {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.i-fade-in, .c-fade-in {
  -webkit-animation: cubic-bezier(0.25, 0.25, 0.45, 1) 1s both;
  -moz-animation: cubic-bezier(0.25, 0.25, 0.45, 1) 1s both;
  -o-animation: cubic-bezier(0.25, 0.25, 0.45, 1) 1s both;
  animation: cubic-bezier(0.25, 0.25, 0.45, 1) 1s both;
}
.i-fade-in {
  -webkit-animation-name: i-fade-in;
  animation-name: i-fade-in;
}
.c-fade-in {
  -webkit-animation-name: c-fade-in;
  animation-name: c-fade-in;
}
.hide {
  opacity: 0;
  pointer-events: none;
}
.show {
  pointer-events: auto;
}
.button-fade-in {
	-webkit-animation: button-fade-in 0.30s cubic-bezier(0.45, 0.25, 0.25, 1) both;
	-moz-animation: button-fade-in 0.30s cubic-bezier(0.45, 0.25, 0.25, 1) both;
	-o-animation: button-fade-in 0.30s cubic-bezier(0.45, 0.25, 0.25, 1) both;
	animation: button-fade-in 0.30s cubic-bezier(0.45, 0.25, 0.25, 1) both;
}
.button-fade-out {
	-webkit-animation: button-fade-out 0.30s cubic-bezier(0.45, 0.25, 0.25, 1) both;
	-moz-animation: button-fade-out 0.30s cubic-bezier(0.45, 0.25, 0.25, 1) both;
	-o-animation: button-fade-out 0.30s cubic-bezier(0.45, 0.25, 0.25, 1) both;
	animation: button-fade-out 0.30s cubic-bezier(0.45, 0.25, 0.25, 1) both;
}
/* Large Phone Media Query */
@media screen and (min-width: 350px) {
  /* Layout */
  .wrapper.special {
    padding-right: 20%;
    padding-left: 20%;
  }
  .wrapper.image {
    padding: 0;
  }
  .wrapper.content {
    padding-top: 5rem;
    padding-right: 20%;
    padding-bottom: 5rem;
    padding-left: 20%;
  }
  /* Gallery */
  .gallery-base {
    max-height: 575px;
  }
  #background {
    background-position: 0 15%;
  }
  .gallery-content {
    max-width: 80%;
  }
  .ring-image {
    top: 45px;
    width: 316px; height: 270px;
    background-image: url('../images/gallery/rings/rings-lm.png');
  }
  .cement-image {
    top: 40px;
    width: 250px; height: 275px;
    background-image: url('../images/gallery/cement/cement-lm.png');
  }
  .steel-image {
    top: 100px;
    width: 330px; height: 175px;
    background-image: url('../images/gallery/steel/steel-lm.png');
  }
  /* Service Sections */
  .dh { height: 0; border-right: none; }
  /* Sub Navigation */
  .sub-nav {
    display: block;
    overflow: none;
    padding-right: 17%;
    padding-left: 17%;
    text-align: center;
  }
  /* Imagery */
  #truck { background-image: url('../images/about/truck-lm.jpg'); }
  #bobcat { background-image: url('../images/about/masterBobcat-lm.jpg'); }
  #unloading { background-image: url('../images/about/unloading-lm.jpg'); }
  #camper { background-image: url('../images/contact/happyCamper-lm.jpg'); }
}
@media screen and (min-width: 650px) and (max-width: 1010px) {
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
  [class*='col-t'] {
    float: left;
    min-height: 1px;
  }
  .col-t0 {
    width: 0;
    display: none;
  }
  .col-t1 {
    width: 8.33%;
  }
  .col-t2 {
    width: 16.66%;
  }
  .col-t3 {
    width: 25%;
  }
  .col-t4 {
    width: 33.33%;
  }
  .col-t5 {
    width: 41.66%;
  }
  .col-t6 {
    width: 50%;
  }
  .col-t7 {
    width: 58.33%;
  }
  .col-t8 {
    width: 66.66%;
  }
  .col-t9 {
    width: 75%;
  }
  .col-t10 {
    width: 83.33%;
  }
  .col-t11 {
    width: 91.66%;
  }
  .col-t12 {
    width: 100%;
  }
  [class*='col-t'] {
    padding-right: 20px;
  }
  [class*='col-t']:last-of-type {
    padding-right: 0;
  }
  .special-t {
    float: left;
    min-height: 1px;
    width: 33.33%;
  }
  /* Special Layout for Product Listing */
  .product-nav .col-t12 {
    float: none;
    width: 100%;
    padding-right: 0;
  }
  .product-nav .col-d8 {
    float: none;
    /*padding-top: 4.0rem;
    padding-bottom: 4.0rem;*/
    padding-right: 0; padding-left: 0;
  }
  #product-nav ul {
    padding-left: 25px;
  }
}
/* Tablet Media Query */
@media screen and (min-width: 650px) {
  /* Layout */
  .wrapper {
    overflow: auto;
    padding-right: 50px;
    padding-left: 50px;
    vertical-align: middle;
  }
  .wrapper.image {
    padding: 0;
  }
  .wrapper.content {
    padding-top: 5rem;
    padding-right: 20%;
    padding-bottom: 5rem;
    padding-left: 20%;
  }
  .wrapper.special {
    padding-right: 50px;
    padding-left: 50px;
  }
  /*.wrapper.product-nav {
    padding-bottom: 4.0rem;
  }*/
  /*.product-wrapper {
    min-height: 433px;
  }*/
  /*.product-wrapper {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 50px;
  }*/
  /* Typographies */
  .links ul li a, .copyright ul li p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.75rem; /* 12px */
    line-height: 0.75rem; /* 12px */
    letter-spacing: 0.03125rem; /* 0.5px */
    text-decoration: none;
  }
  .copyright ul li p {
    color: #969696;
  }
  /* Navigation Menu */
  #logo {
    display: inline-block;
    float: left;
    width: 243px;
    height: 24px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  nav ul {
    float: right;
    margin-top: 3px;
  }
  nav ul li, nav ul li:first-child, nav ul li:last-child {
    float: none;
    margin-left: 1.5rem;
  }
  nav ul li:first-child {
    margin-left: 0;
  }
  /* Image Gallery */
  .gallery-base {
    min-height: 50vh;
    height: 515px;
  }
  #background {
    background-image: url('../images/gallery/background/background-t.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  .gallery-content {
    position: static;
    margin-top: 50%;
    padding-bottom: 50%;
  }
  .ring-image {
    top: 125px;
    width: 316px; height: 270px;
    background-image: url('../images/gallery/rings/rings-t.png');
  }
  .cement-image {
    top: 125px;
    width: 250px; height: 275px;
    background-image: url('../images/gallery/cement/cement-t.png');
  }
  .steel-image {
    top: 150px;
    width: 330px; height: 175px;
    background-image: url('../images/gallery/steel/steel-t.png');
  }
  /* Product List + Cards */
  /*.product-list {
    display: static;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: normal;
    padding: 0;
    border-bottom: none;
    min-height: 401px;
  }*/
  .product-list ul::-webkit-scrollbar {
    display: none;
  }
  /*.product-card {
    margin: 0 0 25px;
    padding: 1.5rem;
    width: 100%;
    border: 1px solid #eaeaea;
  }*/
  .product-card .titles, .product-card .descriptions {
    display: inline-block;
    float: left;
    width: 50%;
  }
  /* Service Sections */
  .service-sections {
    padding: 4.0rem 15%;
  }
  #wholesale {
    border-bottom: 1px solid #eaeaea;
  }
  .dh { height: 0; border-right: none; }
  /* Sub Navigation */
  .wrapper.sub-nav {
    padding-left: 0;
    padding-right: 0;
  }
  .sub-nav {
    border-bottom: none;
  }
  /* Imagery */
  .hero {
    height: 400px;
  }
  #truck { background-image: url('../images/about/truck-t.jpg'); }
  #bobcat { background-image: url('../images/about/masterBobcat-t.jpg'); }
  #unloading { background-image: url('../images/about/unloading-t.jpg'); }
  #camper { background-image: url('../images/contact/happyCamper-t.jpg'); }
  /* Footer */
  footer {
    overflow: auto;
    padding: 1rem 50px;
    vertical-align: middle;
    border-top: 1px solid #eaeaea;
  }
  .links {
    display: inline-block;
    float: right;
  }
  .copyright {
    display: inline-block;
    float: left;
  }
  .copyright ul li, .links ul li {
    background-color: white;
  }
  .copyright ul li {
    padding: 6px 0 0;
  }
  .links ul li {
    display: inline-block;
    padding: 3px 0;
    border-bottom: none;
  }
  .links ul li:active {
    background-color: none;
  }
  .links ul li:last-child {
    margin-left: 12.5px;
    padding-left: 15px;
    border-left: 1px solid #eaeaea;
  }
  /* Hero */
  .hero {
    height: 350px;
    width: 100%;
  }
  /* error.html */
  .message {
    margin-top: 35%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
  }
  .message ul li {
    display: inline-block;
  }
  .message ul li:first-child {
    margin-right: 2rem;
  }
  /* Keyframes */
  /*@-webkit-keyframes fade-out { 0% { opacity: 1; }  100% { opacity: 0; } }
  @-moz-keyframes fade-out { 0% { opacity: 1; }  100% { opacity: 0; } }
  @-o-keyframes fade-out { 0% { opacity: 1; }  100% { opacity: 0; } }
  @keyframes fade-out { 0% { opacity: 1; }  100% { opacity: 0; } }
  @-webkit-keyframes fade-in { 0% { opacity: 0; transform: translateY(15px); }  100% { opacity: 1; transform: translateY(0px); } }
  @-moz-keyframes fade-in { 0% { opacity: 0; transform: translateY(15px); }  100% { opacity: 1; transform: translateY(0px); } }
  @-o-keyframes fade-in { 0% { opacity: 0; transform: translateY(15px); }  100% { opacity: 1; transform: translateY(0px); } }
  @keyframes fade-in { 0% { opacity: 0; transform: translateY(15px); }  100% { opacity: 1; transform: translateY(0px); } }*/
  /* Animations */
  /*.fade-out {
    -webkit-animation: fade-out ease-in-out 0.5s both;
    -moz-animation: fade-out ease-in-out 0.5s both;
    -o-animation: fade-out ease-in-out 0.5s both;
    animation: fade-out ease-in-out 0.5s both;
  }
  .fade-in {
    -webkit-animation: fade-in cubic-bezier(0.25, 0.25, 0.45, 1) 0.75s both;
    -moz-animation: fade-in cubic-bezier(0.25, 0.25, 0.45, 1) 0.75s both;
    -o-animation: fade-in cubic-bezier(0.25, 0.25, 0.45, 1) 0.75s both;
    animation: fade-in cubic-bezier(0.25, 0.25, 0.45, 1) 0.75s both;
  }*/
}
/* Desktop Media Query */
@media screen and (min-width: 1010px) {
  /* Layout */
  .wrapper, .wrapper-footer, .wrapper-sub-nav, .wrapper.product-nav {
    overflow: auto;
    max-width: 960px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    vertical-align: middle;
  }
  .wrapper.product-nav {
    min-height: 1000px;
    padding-top: 7.0rem;
    padding-bottom: 4.0rem;
  }
  .wrapper.content {
    padding-top: 10rem;
    padding-right: 0; padding-left: 0;
    padding-bottom: 10rem;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
  [class*='col-d'] {
    float: left;
    min-height: 1px;
  }
  .col-d0 {
    width: 0;
    display: none;
  }
  .col-d1 {
    width: 8.33%;
  }
  .col-d2 {
    width: 16.66%;
  }
  .col-d3 {
    width: 25%;
  }
  .col-d4 {
    width: 33.33%;
  }
  .col-d5 {
    width: 41.66%;
  }
  .col-d6 {
    width: 50%;
  }
  .col-d7 {
    width: 58.33%;
  }
  .col-d8 {
    width: 66.66%;
  }
  .col-d9 {
    width: 75%;
  }
  .col-d10 {
    width: 83.33%;
  }
  .col-d11 {
    width: 91.66%;
  }
  .col-d12 {
    width: 100%;
  }
  [class*='col-d'] {
    padding-right: 20px;
  }
  [class*='col-d']:last-of-type {
    padding-right: 0;
  }
  .special-d {
    float: left;
    min-height: 1px;
    width: 33.33%;
  }
  /* Navigation Menu */
  nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #logo {
    display: inline-block;
    float: left;
    width: 243px;
    height: 24px;
    margin-top: 4px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  nav ul {
    float: right;
    margin-top: 8px;
  }
  nav ul li, nav ul li:first-child, nav ul li:last-child {
    float: none;
    margin-right: 1.5rem;
    margin-left: 0;
  }
  .links ul li a {
    font-size: 0.875rem;
    letter-spacing: 0.03125rem;
  }
  nav ul li a, .links ul li a {
    -webkit-transition: color 250ms ease-out;
    -moz-transition: color 250ms ease-out;
    -o-transition: color 250ms ease-out;
    transition: color 250ms ease-out;
  }
  nav ul li a:hover, .links ul li a:hover {
    color: #0080ff;
  }
  #current-status {
    display: inline-block;
    float: right;
  }
  #current-status p, #current-status a, #current-status span, span.open, span.lunch, span.closed {
    display: inline-block;
  }
  #current-status span, span.open, span.lunch, span.closed {
    position: relative;
    bottom: 3px;
    width: 5px;
    height: 5px;
    margin-right: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  #current-status a {
    padding: 8px 12px 10px;
    background-color: white;
    margin-left: 10px;
  }
  #current-status span.open, span.open  {
    background-color: #25c315;
  }
  #current-status span.lunch, span.lunch  {
    background-color: #f5a623;
  }
  #current-status span.closed, span.closed  {
    background-color: #d0021b;
  }
  #current-status p.open, p.open {
    color: #25c315;
  }
  #current-status p.lunch, p.lunch, .sub-nav #location-status.pseudo-link.lunch {
    color: #f5a623;
  }
  #current-status p.closed, p.closed, .sub-nav #location-status.pseudo-link.closed {
    color: #d0021b;
  }
  #current-status a.open {
    border: 1px solid #25c315;
    color: #25c315;
  }
  #current-status a.lunch, #current-status a.closed {
    border: 1px solid #0080ff;
    color: #0080ff;
  }
  #current-status a #phone {
    position: relative;
    top: 1px;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-image: url('../images/icons/phone.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  #current-status a #mail {
    position: relative;
    top: 2.5px;
    width: 16px;
    height: 12px;
    margin-right: 5px;
    background-image: url('../images/icons/nav-email.png');
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  /* Image Gallery */
  .gallery-base {
    position: relative;
    max-height: 650px;
    height: 650px;
    border-bottom: 1px solid #eaeaea;
  }
  #background {
    background-image: url('../images/gallery/background/background-d.png');
    background-position: center;
  }
  .gallery-content {
    position: static;
    margin-top: 50%;
    padding-bottom: 50%;
  }
  .ring-image {
    top: 125px;
    max-width: 100%;
    width: 503px; height: 430px;
    background-image: url('../images/gallery/rings/rings-d.png');
  }
  .cement-image {
    top: 150px;
    width: 290px; height: 320px;
    background-image: url('../images/gallery/cement/cement-d.png');
  }
  .steel-image {
    top: 200px;
    width: 461px; height: 246px;
    background-image: url('../images/gallery/steel/steel-d.png');
  }
  .right-arrow, .left-arrow {
    position: absolute;
    top: 0; bottom: 0;
    height: 30px; width: 30px;
    margin: auto 0;
    cursor: pointer;
    background-image: url('../images/icons/nav-arrow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .right-arrow {
    right: 25px;
    transform: rotate(180deg);
  }
  .left-arrow {
    left: 25px;
  }
  a.button {
    -webkit-transition: background-color 250ms ease-out;
    -moz-transition: background-color 250ms ease-out;
    -o-transition: background-color 250ms ease-out;
    transition: background-color 250ms ease-out;
  }
  a.button:hover {
    background-color: #005cb7;
  }
  /* Product Navigation */
  #product-nav #title {
    display: block;
    font-size: 1.5rem;
    color: #212121;
  }
  #product-nav ul li a {
    font-weight: 400;
    color: #4a4a4a;
    -webkit-transition: color 150ms ease-out;
    -moz-transition: color 150ms ease-out;
    -o-transition: color 150ms ease-out;
    transition: color 150ms ease-out;
  }
  #product-nav {
    border-bottom: none;
  }
  #product-nav ul {
    overflow-x: auto;
    overflow-y: auto;
    white-space: normal;
    text-align: left;
    padding-right: 0;
    background-color: transparent;
  }
  #product-nav ul::-webkit-scrollbar {
   display: none;
  }
  #product-nav ul li {
    display: block;
    padding: 15px 0 15px 20px;
    margin: 0;
    border-left: 1px solid #eaeaea;
    -webkit-transition: border-left 150ms ease-out;
    -moz-transition: border-left 150ms ease-out;
    -o-transition: border-left 150ms ease-out;
    transition: border-left 150ms ease-out;
  }
  #product-nav ul li.active {
    border-left: 1px solid #0080ff;
  }
  #product-nav ul li:hover {
    border-left: 1px solid #0080ff;
  }
  #product-nav ul li:hover a {
    color: #0080ff;
  }
  .product-card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .product-card img {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
  }
  .product-list {
    min-height: 728px;
    padding-bottom: 4.0rem;
  }
  .product-list [class*='col-']:nth-child(2n+1) {
    float: left;
    padding-right: 10px;
  }
  .product-list [class*='col-']:nth-child(2n) {
    float: right;
    padding-right: 0;
    padding-left: 10px;
  }
  /* Service Sections */
  .service-sections {
    padding: 5.0rem 0;
  }
  ul.service li {
    border-left: none;
  }
  #wholesale {
    border-bottom: none;
  }
  .dh { height: 564px; border-right: 1px solid #eaeaea; }
  /* Sub Navigation */
  .sub-nav {
    padding-right: 5%; padding-left: 5%;
    border-bottom: none;
  }
  .sub-nav a {
    -webkit-transition: background-color 250ms ease-out;
    -moz-transition: background-color 250ms ease-out;
    -o-transition: background-color 250ms ease-out;
    transition: background-color 250ms ease-out;
  }
  .sub-nav a[href]:hover {
    background-color: #f2f8ff;
  }
  /* Imagery */
  .hero {
    height: 575px;
  }
  .img {
    height: 500px;
  }
  #truck { background-image: url('../images/about/truck-d.jpg'); }
  #bobcat { background-image: url('../images/about/masterBobcat-d.jpg'); }
  #unloading { background-image: url('../images/about/unloading-d.jpg'); }
  #camper { background-image: url('../images/contact/happyCamper-d.jpg'); }
  /* Footer */
  footer {
    overflow: auto;
    padding: 1.5rem 0;
  }
  .links {
    display: inline-block;
    float: right;
  }
  .copyright {
    display: inline-block;
    float: left;
  }
  .copyright ul li, .links ul li {
    background-color: white;
  }
  .copyright ul li {
    padding: 6px 0 0;
  }
  .links ul li {
    display: inline-block;
    padding: 3px 0;
    border-bottom: none;
  }
  .links ul li:active {
    background-color: none;
  }
  .links ul li:last-child {
    margin-left: 12.5px;
    padding-left: 15px;
    border-left: 1px solid #eaeaea;
  }
  /* Typographies */
  p.about {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0.03rem;
    text-align: left;
  }
  p.about.d-center {
    text-align: center;
  }
  /* Hero */
  .hero {
    height: 575px;
    width: 100%;
    background-color: #fafafa;
  }
  /* error.html */
  .message {
    margin-top: 35%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
  }
  .message ul li {
    display: inline-block;
  }
  .message ul li:first-child {
    margin-right: 2rem;
  }
  /* Contact Button */
  #button { display: none; }
  /* Keyframes */
  @-webkit-keyframes fade-out { 0% { opacity: 1; }  100% { opacity: 0; } }
  @-moz-keyframes fade-out { 0% { opacity: 1; }  100% { opacity: 0; } }
  @-o-keyframes fade-out { 0% { opacity: 1; }  100% { opacity: 0; } }
  @keyframes fade-out { 0% { opacity: 1; }  100% { opacity: 0; } }
  @-webkit-keyframes fade-in { 0% { opacity: 0; transform: translateY(15px); }  100% { opacity: 1; transform: translateY(0px); } }
  @-moz-keyframes fade-in { 0% { opacity: 0; transform: translateY(15px); }  100% { opacity: 1; transform: translateY(0px); } }
  @-o-keyframes fade-in { 0% { opacity: 0; transform: translateY(15px); }  100% { opacity: 1; transform: translateY(0px); } }
  @keyframes fade-in { 0% { opacity: 0; transform: translateY(15px); }  100% { opacity: 1; transform: translateY(0px); } }
  @-webkit-keyframes i-fade-in { 0% { opacity: 0; transform: translateY(10px); }  100% { opacity: 1; transform: translateY(0px); } }
  @-moz-keyframes i-fade-in { 0% { opacity: 0; transform: translateY(10px); }  100% { opacity: 1; transform: translateY(0px); } }
  @-o-keyframes i-fade-in { 0% { opacity: 0; transform: translateY(10px); }  100% { opacity: 1; transform: translateY(0px); } }
  @keyframes i-fade-in { 0% { opacity: 0; transform: translateY(10px); }  100% { opacity: 1; transform: translateY(0px); } }
  @-webkit-keyframes c-fade-in { 0% { opacity: 0; }  100% { opacity: 1; } }
  @-moz-keyframes c-fade-in { 0% { opacity: 0; }  100% { opacity: 1; } }
  @-o-keyframes c-fade-in { 0% { opacity: 0; }  100% { opacity: 1; } }
  @keyframes c-fade-in { 0% { opacity: 0; }  100% { opacity: 1; } }
  /* Animations */
  .fade-out, .g-fade-out {
    -webkit-animation: fade-out ease-in-out 0.5s both;
    -moz-animation: fade-out ease-in-out 0.5s both;
    -o-animation: fade-out ease-in-out 0.5s both;
    animation: fade-out ease-in-out 0.5s both;
  }
  .fade-in {
    -webkit-animation: fade-in cubic-bezier(0.25, 0.25, 0.45, 1) 0.75s both;
    -moz-animation: fade-in cubic-bezier(0.25, 0.25, 0.45, 1) 0.75s both;
    -o-animation: fade-in cubic-bezier(0.25, 0.25, 0.45, 1) 0.75s both;
    animation: fade-in cubic-bezier(0.25, 0.25, 0.45, 1) 0.75s both;
  }
  .g-fade-out {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }
  .i-fade-in, .c-fade-in {
    -webkit-animation: cubic-bezier(0.25, 0.25, 0.45, 1) 1s both;
    -moz-animation: cubic-bezier(0.25, 0.25, 0.45, 1) 1s both;
    -o-animation: cubic-bezier(0.25, 0.25, 0.45, 1) 1s both;
    animation: cubic-bezier(0.25, 0.25, 0.45, 1) 1s both;
  }
  .i-fade-in {
    -webkit-animation-name: i-fade-in;
    animation-name: i-fade-in;
  }
  .c-fade-in {
    -webkit-animation-name: c-fade-in;
    animation-name: c-fade-in;
  }
}
