<nav class="pv1 ph15 tc bg-white">
  <a class="tc dim no-underline" href="/">
    <img class="v-mid mr05" src="../images/logo.svg" alt="Materiales Vallejo logo">
    <p class="v-mid mv0 dib lato fw9 f0875 ttu tracked-mega dark-gray">Materiales Vallejo</p>
  </a>
</nav>
